[2016-05-24 15:20] lwaldron opened #2 "Naming of files in S3"
There are some inconsistencies in how the files are named. We have 6 "types" of files and 3 of the names have some spelling variations:

Valerie has made the following manual update, that should be taken care of in original package generation:

[2016-06-03 17:46] schifferl commented on #2
I am currently working to gain access to the S3 bucket and will update the names to reflect the genFam, pathAbun and pathCov scheme as soon as I have access.

[2016-06-03 18:00] schifferl commented on #2
I've just been granted access to the S3 bucket and should have issue closed in the next few minutes

[2016-06-03 18:32] schifferl commented on #2
These files have been renamed to reflect the new syntax:

Candela_Africa.stool.geneFam.eset.rda
Tito_subsistence_gut.stool.geneFam.eset.rda
t2dmeta_short.stool.geneFam.eset.rda
Candela_Africa.stool.pathAbun.eset.rda
Tito_subsistence_gut.stool.pathAbun.eset.rda
t2dmeta_short.stool.pathAbun.eset.rda
Candela_Africa.stool.pathCov.eset.rda
Tito_subsistence_gut.stool.pathCov.eset.rda
t2dmeta_short.stool

[2016-06-03 18:32] #2 closed

[2016-06-22 09:21] lwaldron opened #3 "platform_summary error"
Low-priority, but should eventually be fixed:

[code]

The "notes:" "platform_summary" says: "Error in if (nchar(x[i]) > width) {: missing value where TRUE/FALSE needed"

[2016-06-22 09:36] lwaldron opened #4 "vignette missing"
Strain-level data are unreliable

[2016-06-22 09:40] lwaldron commented on #4
Also, move EPIC stuff into vignette (https://github.com/waldronlab/EPIC2016)

[2016-06-30 11:49] lwaldron opened #5 "Reference Manual"
@vobencha -  How can we provide a reference manual? I am attaching here the output of `R CMD Rd2pdf curatedMetagenomicData`, to provide a place to temporarily link to it.
[curatedMetagenomicData.pdf](https://github.com/vobencha/curatedMetagenomicData/files/341411/curatedMetagenomicData.pdf)

[2016-06-30 12:44] lwaldron opened #6 "Searching by metadata"
@vobencha, can we put the metadata that are currently in `experimentData(obj)` into the `mcols(x)` where `x` is the ExperimentHub query, to make them searchable without downloading the datasets?

I originally thought it might belong in `mcols(myquery)$description`, but in the [ExperimentHubMetadata class definition](https://github.com/Bioconductor-mirror/ExperimentHubData/blob/master/R/ExperimentH

[2016-06-30 12:50] lwaldron opened #7 "ExpressionSet2phyloseq() function"
Add to curatedMetagenomicData package with man/ExpressionSet2phyloseq.Rd file, base it on [this function](https://github.com/waldronlab/presentations/blob/master/Waldron_2016-06-07_EPIC/metaphlanToPhyloseq.R).

[2016-06-30 12:52] lwaldron commented on #7
Note, this replaces any previous crazy ideas to change the pipeline to create phyloseq objects in the first place :).

[2016-07-05 17:01] vobencha commented on #5
I'm not sure I understand. The curatedMetagenomicData package will have a standard landing page with a link to this doc. Access from the command line will be via individual alias entries, e.g., ?hmp.hard_palate.eset. Are you saying you'd like this to be available as a html/pdf in the same way the vignette is?

[2016-07-05 19:55] vobencha commented on #6
Yes, we can make the data in experimentData(obj) available for searching and I would do this by putting in it the 'description' field. I don't think it would be useful to add a slot of class ANY because the metadata are stored in a mysql db where the concept of a list doesn't really exist. To make fields searchable we can either store fields separately or as a single character string with a delimi

[2016-07-06 19:22] schifferl opened #8 "Vignette Errors"
In order for the vignette to build, it was necessary to remove these lines (approximate location of 163 in curatedMetagenomicData_vignette.Rnw). I cannot seem to spot the error in the markup, perhaps you can @lwaldron or @vobencha.

[code]

Additionally, it was necessary to comment out the argument on line # 198 curatedMetagenomicData_vignette.Rnw. Also, would need some help here deciphering the s

[2016-07-06 21:47] vobencha commented on #8
The first problem is the underscore in hard_palate - it needs to be escaped, e.g., hard\_palate.

I'm not sure why the second error is occurring. Maybe the restructured search in list/loadResources() picks up different files than when Levi first wrote this. When debugging heatmap.2() there is a problem applying the distance function to 'x':
[code]

This is what 'x' looks like:
[code]

The error is

[2016-07-07 12:21] lwaldron commented on #8
I just realized that I committed a new vignette to my own fork and didn't submit a pull request... The vignette in the pull request has no errors. There are probably some parts of the current vignette worth conserving and merging into the new Rmd one, as the new one focuses on single-dataset analysis, but perhaps start with the new one and add to it.

[2016-07-07 13:59] lwaldron commented on #8
Actually, I think the only thing really missing from the new Rmd vignette is an example of selecting based on ExperimentHub metadata. The example in the original Rnw vignette uses the pData, so would require downloading all datasets before selecting datasets/subjects based on rules.

[2016-07-07 18:01] schifferl commented on #8
I have merged the pull request with 25853c9 and will go through the Rmd vignette. I left the old Rnw vignette in place but will remove it once I move anything important to the Rmd file.

Otherwise, @vobencha still no access to the SVN source. Is Dan or Martin the right person to contact?

And the `shortenCladeName()` function did come from LeviRmisc package, I simply added it as a hidden function

[2016-07-07 20:21] schifferl commented on #8
Errors in the Rnw are corrected with d1818f6. The issue with the `distfun` argument was resolved by removing NA values from the matrix via a helper function.

I find that the Rnw vignette still contains useful information so I have actually decided not to remove it yet and will work on merging it with the Rmd version. A PDF of the built Rnw vignette is attached.

[curatedMetagenomicData_vignette.p

[2016-07-07 20:21] #8 closed

[2016-07-07 20:46] vobencha commented on #8
@schifferl, Martin is the person to ask for svn permissions. I re-sent my request to give (all 3 of you) permissions to him today.

[2016-07-12 08:55] lwaldron commented on #5
I think it's me who didn't understand :). Yes, a standard landing page with a link to this doc is all I wanted.  Thanks Val.

[2016-07-12 08:55] #5 closed

[2016-07-12 20:05] schifferl commented on #7
Working on this, should have a working function shortly.

[2016-07-12 20:23] schifferl commented on #3
I have just read through the source and figured out why this happens, I will fix it in the next build of the package from the raw data.

[2016-07-25 16:48] lwaldron opened #10 "syntax checking"
Perform syntax checking using `inst/extdata/metadata/checkCurated.R` and `inst/extdata/metadata/template_metagenomic.csv`. Also add the template to featureData slot of the ExpressionSets.

[2016-07-25 19:25] schifferl opened #11 "unit test framework"
@vobencha & @lwaldron, do we need to choose a framework to write unit test? I want to write test for some of the functions but wonder if I need to use RUnit or testthat. Could you give your input?

[2016-07-25 19:27] schifferl commented on #7
function is there, just waiting on an answer to #11 to either close the issue or write a unit test

[2016-07-25 20:33] schifferl commented on #11
per conversation with @lwaldron I will write unit test using testthat

[2016-07-25 20:33] #11 closed

[2016-08-30 15:40] schifferl commented on #7
closed via c175d61

[2016-08-30 15:40] #7 closed

[2016-08-30 19:59] lwaldron commented on #6
@schifferl , will you add the metadata fields that we discussed (I believe to metadata.csv) so that users will be able to sort and search by body site, data type, disease type?

[2016-08-30 20:12] schifferl commented on #6
@lwaldron & @vobencha, I will add the the metadata with the rebuilding of the package from the raw data. They will be added to the `metadata.csv` file, but it makes the most sense to generate the file with the `make-metadata.R` script, as specified in the ExperimentHubData vignette. I will also provide helpers to give the names of searchable fields. The platform_summary error will also be resolved

[2016-08-30 21:18] lwaldron commented on #6
Since the Experiment_Data.txt.bz2 and Pheno_Data.txt.bz2 end up in the ExpressionSet objects, would it be more simple and less error-prone to generate metadata.csv using the ExpressionSet objects themselves? Or in any case, using files that Edoardo has put in the metadata folder on iRODS.

[2016-08-30 21:23] schifferl commented on #6
Exactly, I had it in mind to generate the `metadata.csv` file from the final `ExpressionSet` objects. That way we would not have any differences between the file and the actual objects.

[2016-09-07 15:57] lwaldron opened #14 "add data type and software versions to documentation and/or ExpressionSet"
Add to NEWS, and to MIAME information in ExpressionSet if not difficult. Versions are:

[code]

[2016-09-28 06:40] schifferl commented on #3
closed with refactoring of the package and new metadata

[2016-09-28 06:40] #3 closed

[2016-09-28 06:41] schifferl commented on #14
software versions are documented in NEWS file

[2016-09-28 06:41] #14 closed

[2016-09-29 12:02] lwaldron commented on #4
I think I did my part for the vignette, @schifferl can you make sure it goes into the vignette on Bioconductor? The [vignette there](http://bioconductor.org/packages/devel/data/experiment/vignettes/curatedMetagenomicData/inst/doc/curatedMetagenomicData.html) is currently empty. Can you do this in time for the release?

[2016-09-29 12:10] lwaldron commented on #6
I think this is addressed by the tags - Lucas, can you close after explaining how to select datasets by tags in the vignette?

[2016-09-29 12:14] lwaldron opened #16 "dataset documentation 1"
Reference manual in bioc-devel has few issues, I'll post them as separate issues.

First is that documentation is only provided for 5 of the datasets, the rest are missing. All datasets should be documented.

[2016-09-29 12:15] lwaldron opened #17 "dataset documentation 2 - alias data types"
Documenting 6 different datasets for each study is overly verbose, it would be better for them to share one .Rd page and use \alias{} for that page to be shared by all six data types for the study. For example, see this old [Candela_Africa.stool.eset.Rd](https://github.com/vobencha/curatedMetagenomicData/blob/397fe7b75397d2170b2759f4b1509e9be3bac59a/man/Candela_Africa.stool.eset.Rd).

[2016-09-29 12:18] lwaldron opened #18 "dataset documentation 3 - enrich documentation"
Most of the useful per-dataset documentation has been lost in the new pipeline.  Restore the more helpful documentation provided by the old pipeline, for example this [Candela_Africa.stool.eset.Rd](https://github.com/vobencha/curatedMetagenomicData/blob/397fe7b75397d2170b2759f4b1509e9be3bac59a/man/Candela_Africa.stool.eset.Rd).

[2016-10-05 00:39] schifferl commented on #4
closed via edf6a1d

[2016-10-05 00:39] #4 closed

[2016-10-05 00:41] schifferl commented on #10
With the refactoring of the repository, these syntax checks are no longer relevant. I am closing this issue but could write new syntax checks if you think they are needed.

[2016-10-06 13:37] lwaldron commented on #10
What do you mean they're not relevant? Do you mean they are impractical as
unit tests? How will you ensure that a manually curated phenoData variable
that is supposed to be numeric or integer doesn't contain a "O" instead of
a "0" somewhere, or that a disease state that is supposed to be "cancer"
isn't "Cancer" or "cacner". These kinds of curation mistakes happen, and
the template with curatedOvar

[2016-10-06 16:10] schifferl commented on #10
Ok, I didn't understand correctly then. I will reopen the issue and incorporate the script into the pipeline.

[2016-10-29 13:26] lwaldron commented on #10
Here is an example of the kind of problem that syntax checking will avoid. `subjectID` would be required to be of class character, even if it contains only integer values:

[code]

[2016-10-29 14:15] lwaldron opened #19 "ExpressionSet2phyloseq not properly documented"
`tax, metadat=NULL, simplenames=TRUE, roundtointeger=FALSE`

I'll add the roxygen markup.

[2016-10-29 14:17] lwaldron commented on #19
Guess this roxygen behavior that it replaced the function with a shell because it wasn't documented:

[code]

[2016-10-30 21:42] lwaldron commented on #19
`ExpressionSet2phyloseq()` is a somewhat misleading name, since the input isn't an ExpressionSet, and it is quite metaphlan-specific. Inclined to revert to `metaphlan2phyloseq()`

[2016-11-03 15:05] lwaldron opened #21 "abundance data are characters"
This is a serious bug - should be fixed (data must be numeric) and checked with a unit test. Example:

[code]

[2016-11-03 15:09] lwaldron commented on #21
Good, but it's not all datasets, e.g. see below. I guess a quick fix would be to the functions, coerce `exprs(eset)` to a numeric matrix.

[code]

[2016-11-28 20:00] schifferl commented on #21
the data have been regenerated and the issue is resolved

[2016-11-28 20:00] #21 closed

[2016-11-28 20:03] schifferl commented on #19
the function is now well documented, has a unit test, and could be renamed to `metaphlan2phyloseq()`

[2016-11-28 20:03] #19 closed

[2016-11-28 20:04] schifferl commented on #16
documentation is now present for all datasets and will result in the updated reference manual as the package builds on the Bioconductor

[2016-11-28 20:04] #16 closed

[2016-11-28 20:35] lwaldron commented on #18
This doesn't seem like it should be hard because I wrote a script for it, or is it?

[2016-11-28 20:36] lwaldron commented on #18
Although this should be done along with Issue #17 or else the manual would be voluminous.

[2016-11-28 20:39] schifferl commented on #17
agreed, I will rework the documentation to reflect the slimed down and more informative style

[2016-11-29 17:18] lwaldron opened #25 "function to add HMP sodiodemographic data"
My thought is a function that takes an HMP ExpressionSet and the local path to the restricted demographic dataset as downloaded from dbGaP, and returns another ExpressionSet with the restricted demographic data added.

- Function should also be usable for the HMP 16S datasets.
- Function documentation could include instructions on how to obtain and download the dbGaP demographic data.

Lower prior

[2016-11-29 17:18] lwaldron commented on #16
Excellent!

[2016-11-30 04:32] lwaldron opened #26 "vignette still incomplete"
<rant>
I would suggest that dogmatic reliance on roxygen2 has been resulting in severe loss of documentation for curatedMetagenomicData users :).  Honestly, I see it's nice when writing and documenting functions, but what does it gain you for A) vignettes (especially those that have already been written), and B) .Rd pages that were already being written by an automatic documentation generating fun

[2016-11-30 04:39] lwaldron commented on #26
By the way, the good makers of roxygen2 are not dogmatic about requiring that all or no documentation to be in its charge (from [here](https://cran.r-project.org/web/packages/roxygen2/vignettes/roxygen2.html)):

[2016-11-30 21:52] schifferl commented on #26
I do agree that the documentation should return to its former glory and that will be the next upgrade for the package I work on

[2016-12-01 14:49] lwaldron commented on #18
Attaching a richer manual based on a previous version for demonstration purposes.

[curatedMetagenomicData-397fe7b75397d2170b2759f4b1509e9be3bac59a.pdf](https://github.com/vobencha/curatedMetagenomicData/files/624892/curatedMetagenomicData-397fe7b75397d2170b2759f4b1509e9be3bac59a.pdf)

[2016-12-06 15:53] lwaldron opened #28 "related slides and presentations"
A place to post related slides and presentations
[CMDpipeline.pptx](https://github.com/vobencha/curatedMetagenomicData/files/634309/CMDpipeline.pptx)

[2016-12-06 16:01] lwaldron commented on #28
Full presentation I gave at Columbia 12/01/2016.
[2016-11-24_Columbia_curatedMetagenomicData.pptx](https://github.com/vobencha/curatedMetagenomicData/files/634350/2016-11-24_Columbia_curatedMetagenomicData.pptx)

[2016-12-06 22:04] lwaldron opened #30 "function for dataset selection"
Why not call the function `curatedMetagenomicData()`?  Something like this, with the ability to return convenience function names or actual datasets:

[code]

[2016-12-07 12:14] damagedcoda opened #32 "ExpressionSet2phyloseq throwing warning"
Hey,

I want to work with the liver cirrhosis data set from the current version of your package. When I try to convert the ExpressionSet-Object into a phyloseq-Object, I get the following warning:

[code]

Here is my code:
[code]

The warning is pretty cryptic and I would like to know whats going on here.
Thanks a lot,
Nicolai

Update 1:

I believe I have found something which is connected to this

[2016-12-08 04:43] lwaldron commented on #32
This is some odd thing that was introduced in @schifferl's re-factoring of my (perfectly functional :dancing_men:) `metaphlanToPhyloseq()` function, but which has no effect on the result:

[code]

It may relate to `ExpressionSet2phyloseq` re-using `phyloseq` function names as object names, but in any case we'll fix it because it's a disconcerting warning. Also I just noticed that the default for t

[2016-12-08 05:29] lwaldron commented on #32
Fixed in Pull Request #34

[2016-12-08 05:29] #32 closed

[2016-12-08 05:33] lwaldron commented on #32
BTW in case you're curious, the culprit was `tidyr::separate()`, fixed by changing:

``
separate(., ".", taxonomic.ranks, sep = "\\|") %>%
``

to:

``
separate(., ".", taxonomic.ranks, sep = "\\|", fill="right") %>%
``

which produces exactly the same output without the warning about filling in NAs in the taxonomy table to the right of the taxonomic level of each row.

[2016-12-12 19:16] schifferl commented on #26
Based on the changes from @lwaldron and @schifferl to the primary vignette, this issue can be closed. The sparse documentation remains a minor issue but can be opened as a separate issue.

[2016-12-12 19:16] #26 closed

[2016-12-12 21:01] lwaldron opened #37 "extract datasets from command line"
using [littler](http://dirk.eddelbuettel.com/code/littler.html) for argument parsing. Edoardo, since you have a good idea of how shell & python users might want to extract datasets, would you write this?

[2016-12-20 14:42] lwaldron opened #38 "data object for combined metadata"
Call it `data/subjectdata.rda` (save with high compression), also need `man/subjectdata.Rd` file. Needed for issues #10 and #30.

Make a note of this `data.frame` in the vignette.

[2016-12-20 14:47] #28 closed

[2016-12-20 14:50] lwaldron commented on #6
duplicate of #30 which is a better solution.

[2016-12-20 14:50] #6 closed

[2016-12-20 14:58] lwaldron commented on #10
Depends on #38

[2016-12-20 15:14] lwaldron commented on #30
`provides` argument depends on #38

[2016-12-21 03:04] lwaldron commented on #30
Here's a bit of code in case it's helpful, to return a named list of all datasets matching a pattern (glob2rx used just to help non-regexers) - I even used magrittr :D. But here's

[code]

[2016-12-21 14:55] lwaldron commented on #17
I'll add this note just to make sure that the row counts are corrected in the update (I think these counts are from before removing per-species contributions to gene families):

[code]

[2016-12-21 15:02] schifferl commented on #17
Great! I will check and make sure the counts are correct as I rebuild the documentation

[2017-01-03 00:35] #37 closed

[2017-01-03 00:38] lwaldron commented on #37
@edoardopasolli would you try out the script at https://github.com/waldronlab/curatedMetagenomicData/tree/master/inst/commandline ?

[2017-01-03 01:03] lwaldron commented on #10
Following rows of template.csv are too lenient:
[code]

[2017-01-03 01:12] lwaldron commented on #25
Should be a function(eset, dbgapdir) that returns another ExpressionSet with the dbgap data attached.

[2017-01-04 16:26] lwaldron opened #48 "github.io website"

[2017-01-04 18:00] schifferl commented on #48
https://waldronlab.github.io/curatedMetagenomicData/

[2017-01-04 18:24] lwaldron commented on #48
This is great! I like all the links at the top of the page. Would it be hard to add another link to the Issues tracker? Make sure to let everyone know in the meeting notes you send around.

[2017-01-04 18:37] schifferl commented on #48
No problem to add an issue tracker link. I am going to switch to another theme though (http://brianmaierjr.com/long-haul/) and build out some of the pages. I will be sure to send out with the meeting notes and close the issue when I'm done.

[2017-01-06 17:42] lwaldron commented on #48
No worries, in fact bioconductor.org acts as a public bug reporting site, and it's not even necessary to add that link.

[2017-01-11 16:54] lwaldron commented on #25
Note to self, make sure to let Curtis Huttenhower, Owen White, and Lauren McIver know when this is ready - they will use it and promote it.

[2017-01-17 18:38] schifferl commented on #48
Note to self: add a section about the handoff to R

[2017-01-18 17:04] schifferl commented on #30
I am going to call the function `filterDatasets()` to avoid collision with the package docs and will use that title to write about the functionality in our manuscript

[2017-01-18 19:01] schifferl commented on #38
Would this perhaps be a good place to use an internal `sysdata.rda` file (http://r-pkgs.had.co.nz/data.html#data-sysdata)?

[2017-01-19 23:15] schifferl commented on #48
Not sure if we still need a section about handoff to R, but the site is mostly complete. If there are issues, just make a new issue with more specific tasks. Closing isssue 🥇

[2017-01-19 23:15] #48 closed

[2017-01-20 00:14] lwaldron commented on #48
Looks great! A couple quick comments: 1) the things currently under "Tutorials" would belong better in "Installation" (except for "Adding New Data" which belongs more on the Github source page). The Tutorials page could link to the package vignette and extra uncompiled vignettes developed for the manuscript, and redundantly to the tutorials that are already under the publications page. I'll add th

[2017-01-20 00:15] lwaldron opened #54 "github.io site edits"
A couple small things:

1. the things currently under "Tutorials" would belong better in "Installation" (except for "Adding New Data" which belongs more on the Github source page).
2. The Tutorials page could link to the package vignette and extra uncompiled vignettes developed for the manuscript, and redundantly to the tutorials that are already under the publications page.

[2017-01-20 18:41] lwaldron commented on #30
Part of the rationale for `curatedMetagenomicData()` was to replace the currently rather unhelpful [?curatedMetagenomicData](https://github.com/waldronlab/curatedMetagenomicData/blob/master/man/curatedMetagenomicData.Rd) with something really useful - I consider this collision a benefit rather than a drawback!

[2017-01-20 18:42] schifferl commented on #30
Ok, I will keep the name then.

[2017-01-20 19:10] lwaldron commented on #30
I just committed a basic working function with roxygen markup... I'm not tied to the API, let's discuss anything you don't like, then roxegenize it and get it in the package :)

[2017-01-20 19:21] schifferl commented on #30
Ok, that sounds like a plan. I am just about to push the site fixes too.

[2017-01-20 20:14] lwaldron commented on #30
Don't forget to bump the version...

[2017-01-20 20:15] schifferl commented on #54
closed by 58b0131

[2017-01-20 20:15] #54 closed

[2017-01-20 20:50] schifferl commented on #30
@lwaldron I don't see your function in the commits, or even in your branch. Could you do a quick check or should I just copy the function code from above?

[2017-01-20 21:00] lwaldron commented on #30
It's there:
https://github.com/waldronlab/curatedMetagenomicData/blob/master/R/curatedMetagenomicData.R

[2017-01-26 17:04] lwaldron commented on #30
Done (in the future will add use options for filtering by pData, body site)

[2017-01-26 17:04] #30 closed

[2017-01-26 17:05] lwaldron opened #55 "add TODO datasets to web page"
and invite suggestions for other datasets through this Issues tracker.

[2017-01-26 17:06] lwaldron commented on #55
PS the working spreadsheet is [here](https://docs.google.com/spreadsheets/d/1hX9f1j6KkHQ_AdwJf-5eOJfnLemf4LHuGkB-bdOPTeA/edit#gid=0).

[2017-01-30 18:27] naarkhoo opened #56 "16sRNA studies"
This is not an issue. I really like the idea and will definitely looking forward using the package; however, I am curious was the package is not covering 16s studies ?

[2017-01-30 18:35] lwaldron commented on #56
We do not at this time have a pipeline set up for 16s processing, we would need additional funding to do that on a large scale! However we are working on an equivalent package for 16s data from the HMP: https://github.com/waldronlab/HMP16SData

[2017-01-30 18:59] schifferl commented on #56
If only we had the $$$, I would happily write a package!

[2017-01-30 19:03] naarkhoo commented on #56
I am sure you there are undergrad students looking for fame and full of ambition that money is not the first on their priority list. Thanks anyway for your work and your comments :-)

[2017-01-30 19:50] schifferl commented on #56
Interesting idea, will keep it in mind for the future. Going to close this issue now and glad you like the package 👍

[2017-01-30 19:50] #56 closed

[2017-01-30 20:04] lwaldron commented on #56
And if you know a student who would up to the task, let us know, but it's not easy work!

[2017-01-31 19:42] schifferl commented on #55
closed by 8aeef1f

[2017-01-31 19:42] #55 closed

[2017-02-02 22:49] schifferl commented on #18
![bitmoji](https://render.bitstrips.com/v2/cpanel/10161328-196657087_9-s4-v1.png?transparent=1&palette=1&width=246)

Working on this and will have it done shortly!

[2017-02-03 17:38] lwaldron opened #57 "template.csv improvements"
Affects file [template.csv](https://github.com/waldronlab/curatedMetagenomicData/blob/master/inst/extdata/template.csv)

Changes:

bodysite, disease, country: put actual allowable values
age: numeric
country: put a list of all countries
number_reads, pubmedid: integer

@edoardopasolli what is SNPRNT, that we could use for a more descriptive description? Also, method = ss|mock|sw|qq|cut is unclear,

[2017-02-03 17:46] lwaldron opened #58 "uncurated_author_metadata"
It is good to have the original, uncurated metadata on hand, to check for variables that weren't included in the curation, or to check for curation errors. In the past I have put this in a final column "uncurated_author_metadata" with entries the following format, and made a function for splitting this into its own dataframe:

`colname1: value///colname2: value///colname3: value`

This also makes

[2017-02-03 17:52] lwaldron commented on #58
That's the syntax I've used, but looking at it now I think this would be better just _in case_ anyone used a single colon in their column header...

`colname1:::value///colname2:::value///colname3:::value`

[2017-02-06 15:07] schifferl commented on #38
close by 0a583f4

[2017-02-06 15:17] lwaldron commented on #38
[0a583f4](https://github.com/waldronlab/curatedMetagenomicData/commit/0a583f411a7f6eb2a49a87c5566227e463e4fa89) titled "changes to template.csv to make some variables numeric" seems to be unrelated to this issue?

Aha, I think it's [c506f74](https://github.com/waldronlab/curatedMetagenomicData/commit/c506f74a4a3fa22e7856bfab07ea7d06855346ea). But two questions:

1. How does a user load this object

[2017-02-06 15:20] lwaldron commented on #38
Ah, I just saw that you had proposed this as an internal, hidden data file. What's the justification? I would think the participant metadata would be of potential use to the user, but you might be able to convince me otherwise with good reason...

[2017-02-06 15:28] schifferl commented on #38
Oops, it is c506f74 and there should be a row with the study name. I will be very difficult to find the data otherwise.

As for why we might prefer an internal data file, I see the curatedMetagenomicData function as the main interface for the package and not the `data.frame` itself. If we use the function to download a dataset we can then pass that on programmatically to something else. In essence

[2017-02-06 15:58] lwaldron commented on #38
Users certainly should be required to interact with the metadata table, but here are a couple use cases for it I can think of:

1. user does an analysis spanning thousands of samples, but wants to make a descriptives table in a script without having to load all those datasets

2. user would like to count the number of certain types of samples available to see if analysis is worthwhile, before doin

[2017-02-06 16:00] schifferl commented on #38
No downside to it. I will export and document the file and then it can be used both internally and externally.

[2017-02-06 20:27] schifferl commented on #38
The combined metadata is not exported yet but it is corrected to include the `dataset_name`. Will have it exported shortly but just wanted to mention that it's available now : )

[2017-02-17 17:02] lwaldron opened #59 "Keep all rows of humann2 *genefamilies.tsv"
This would be a good use case for use of `Matrix::sparseMatrix` and/or some remote on-disk representation solution, as there would be several million rows. Curtis convinced me that keeping these full rows is more useful than I realized. Please add any comments on potential solutions for a large, relatively sparse matrix. Also FYI @vjcitn @ttriche @schifferl

[2017-02-17 17:10] schifferl commented on #59
My current thoughts are that this could be done as promise, only evaluated once requested or using BigQuery might also work, but that wouldn't exactly be consistent with ExperimentHub... I don't remember the exact size of this object but I can make a large one and we can come up with some solutions

[2017-02-17 17:30] lwaldron opened #60 "Add Newick phylogenetic tree URL to experimentData(metaphlan_esets)"
This will allow adding the phylogenetic tree to `phyloseq` objects, and being sure to use the correct tree for the version of the ExpressionSet data object.

Attached is the Newick file @franz89 emailed to me on 11/26/2016, but which I had the following questions about:

1. I have to replace "GCF" with "t__GCF" in the tree in order for anything it the tree to match curatedMetagenomicData bugs. Jus

[2017-02-17 17:34] lwaldron opened #61 "`Pasolli2016Benchmarks()` function"
Let's make it easy for people to set up the Pasolli et al. PLoS Comp Bio 2016 benchmark datasets. I think it will assist the adoption of your paper as a benchmark for ML methods. @edoardopasolli would you name the curatedMetagenomicData dataset and pData column names for each main result in your paper? This function will create a list of the correct datasets, and add a 0/1 "y" label to the pData.

[2017-02-17 17:37] lwaldron commented on #59
Excellent. @vobencha I think we should think about how to do this in the ExperimentHub framework, akin to the vcf + tabix approach you can use for 1000 genomes on an Amazon S3 bucket.

[2017-02-17 21:41] vobencha commented on #59
Hi @lwaldron

I'm not sure if you want (i) a delayed back-end implementation for the curatedMetagenomicData ExpressionSet objects or (ii)  the ability to read a subset of the object from the S3 bucket or both.

IIUC, the vcf + tabix approach reads distinct subsets and does not 'keep all rows'. If you are interested in just downloading a subset of data from S3 you could write a method that dispatch

[2017-02-17 22:04] lwaldron commented on #59
Thanks Val! I'm not tied to keeping the ExpressionSet representation of these. It will help having a demo object to look at and compare options, which I understand now as:
1. the vcf + tabix - like approach, which if I understand you correctly would break up the object and download components of it, saving bandwidth
2. a Matrix::sparseMatrix representation, which would save disk space and memory.

[2017-02-19 02:11] lwaldron opened #62 "update bioc-devel version"
cMD in bioc-devel is at 1.1.4, which was committed to Github on Dec 12 and is missing important  updates since then. @LiNk-NY do you have an efficient system for moving changes to svn, since MultiAssayExperiment seems to always be caught up on bioc-devel?

[2017-02-19 02:32] lwaldron opened #63 "unnecessary depends / imports / suggests?"
I am not sure why some of these packages are depends / imports / suggests:

Suggests:
BiocInstaller, BiocParallel, BiocCheck - why are these suggested?

Imports:
BiocInstaller

Depends:
magrittr - you explicitly import those functions used in our package functions, so is this needed as a Depends? It seems only to be so for some trivial usage in function examples.
phyloseq, dplyr - also seems like

[2017-02-19 02:40] lwaldron opened #64 "README.md clean-up"
"Adding New Data" should just be linked to rather than included in README.md - perhaps put details in the wiki?

[2017-02-19 02:46] lwaldron opened #65 "Update vignette"
Get rid of ExperimentHub sections, add `curatedMetagenomicData()` function examples.

[2017-02-19 17:35] schifferl commented on #63
I have been doing some restructuring of how the package works internally, and will be able to take these out shortly. BiocInstaller, BiocParallel, BiocCheck are suggested because they are used in processing of the raw data – BiocInstaller can be removed from imports with the internal refactoring. I just need a few minutes to test everything on the SPH server and then I can fix this issue.

[2017-02-26 23:05] vobencha commented on #59
See page 3 of [this Rsamtools vignette](https://www.bioconductor.org/help/course-materials/2010/BioC2010/Exercises-Rsamtools.pdf) for an example of downloading protions of a bam file from a url. You first download the index file which is small, then use a 'param' to specify subsets.

With AnnotationHub >=2.7.14 you can get the physical location of the file with mcols(hub[1])$rdatapath. (rdatapath

[2017-03-01 19:44] schifferl commented on #38
After a bit of a struggle with automated documentation, this issue is closed by a664c26.

[2017-03-01 19:44] #38 closed

[2017-03-01 19:49] schifferl commented on #64
Some of the details have changed as well and I will update those as well.

[2017-03-01 20:09] schifferl commented on #64
details have been moved to the wiki and linked in the README.md file ;)

[2017-03-01 20:09] #64 closed

[2017-03-12 20:16] lwaldron commented on #17
@schifferl the new Bioconductor release is around the corner - would you put outstanding issues on your Trello board with due dates to get them done before the release? I'm just preparing to present the package tomorrow and realized that the datasets still aren't aliased and don't contain the enriched documentation that my original documentation generator provided.  We're likely also to have work

[2017-03-20 14:24] schifferl commented on #17
@lwaldron it was a bit of a busy week last week but I will get the issues on Trello this morning and make sure the important one's are done for the Bioconductor release. Sorry for the delay.

[2017-04-19 21:24] schifferl opened #67 "HMP PubMed ID is Incorrect"
The curated metadata for the HMP dataset incorrectly credits the study as,

the metadata should be corrected and then the documentation and expression sets can be rerun.

[2017-04-24 20:01] schifferl commented on #62
bioc-devel has been updated and is ready for the release tonight : )

[2017-04-24 20:01] #62 closed

[2017-04-24 20:03] schifferl commented on #18
Closed by f535e99e53099ed03b0914f1e36c59b7cdb20ebb, simply github install the package to see the more informative and condensed documentation

[2017-04-24 20:03] schifferl commented on #17
Closed by f535e99e53099ed03b0914f1e36c59b7cdb20ebb, simply github install the package to see the more informative and condensed documentation

[2017-04-24 20:03] #17 closed

[2017-04-25 22:57] lwaldron opened #68 "Supplemental Figure 2 vignette"
In Supplemental Figure 2 vignette, replace inline-defined `metaphlanToPhyloseq()` function with `curatedMetagenomicData::ExpressionSet2phyloseq()`.

[2017-05-03 11:00] lwaldron commented on #18
The new descriptives plots in RStudio man pages are neat, but because they don't show up in the PDF manual or in the console, I would suggest they should supplement, rather than replace, frequency tables. Having ctrl-F in the PDF manual is handy. And/or, add a table to the vignette that summarizes over all datasets.

[2017-05-05 13:28] lwaldron opened #69 "Spurious code in Tutorials section"
See "Example Analysis" at https://waldronlab.github.io/curatedMetagenomicData/tutorials/

[2017-05-05 20:23] lwaldron opened #70 "Update PaperFigures.Rmd to use current recommended API"
e.g. should use `curatedMetagenomicData()` function instead of `eh <- ExperimentHub()` and `query(eh, "curatedMetagenomicData")`. Look for other anachronisms.

[2017-05-07 01:47] lwaldron commented on #10
Added `checkCuration()` function and found a lot of curation issues in `combined_metadata`, see attached Excel spreadsheet.

[curationproblems.xlsx](https://github.com/waldronlab/curatedMetagenomicData/files/981277/curationproblems.xlsx)

[2017-05-10 15:57] lwaldron opened #71 "Move phyloseq from Depends to Suggests"
See https://github.com/waldronlab/MultiAssayExperiment/issues/199 for advice on what to do if `ExpressionSet2phyloseq()` is called.

[2017-05-10 15:59] lwaldron commented on #71
e.g. use this in the function:
[code]

[2017-05-10 16:05] lwaldron opened #72 "Clean up Suggests?"
Is there an advantage for packages that are used in the pipeline, but not part of the curatedMetagenomicData API, to be in Suggests? These aren't used by the curatedMetagenomic package itself, and could be installed as part of the pipeline, e.g. an `install_needed_packages()` function.

[2017-05-15 07:33] edoardopasolli opened #73 "PaperFigures.Rmd"
I was able to generate all the figures in the past. But I am getting a couple of errors when trying to regenerate Supplementary Figure 4 now (all the other figures are fine):

Error: could not find function "curatedMetagenomicData"

Error in strsplit(xnames, split = split, fixed = TRUE) :
  non-character argument

[2017-05-15 14:38] schifferl commented on #73
You may need to update the curatedMetagenomicData package, as that function wasn't included until sometime later

[2017-06-02 18:00] schifferl commented on #69
Fixed through the inclusion of the introductory paragraph.

[2017-06-02 18:00] #69 closed

[2017-06-02 23:00] schifferl commented on #18
Examples of new and old documentation
[R- Data from the Obregon_TitoAJ_2015 study - New.pdf](https://github.com/waldronlab/curatedMetagenomicData/files/1049128/R-.Data.from.the.Obregon_TitoAJ_2015.study.-.New.pdf)
[R- Data from the Obregon_TitoAJ_2015 study - Old.pdf](https://github.com/waldronlab/curatedMetagenomicData/files/1049129/R-.Data.from.the.Obregon_TitoAJ_2015.study.-.Old.pdf)

[2017-06-05 23:15] lwaldron opened #75 "update TODO datasets"
at: https://github.com/waldronlab/curatedMetagenomicData/blob/master/docs/index.md

[2017-06-06 01:19] lwaldron opened #76 "lighten up package"
The help/ directory in particular seems excessive, if it's going to grow linearly with the number of datasets included. I think we can live with data/combined_metadata.RData, one day this can go into the hub when it gets too big.  These can be long term "wish list" items.

[code]

[2017-06-06 01:24] lwaldron commented on #76
Actually, I just realized that most of the space in data/ is from the following undocumented datasets - definitely unnecessary bloat:

[code]

[2017-06-06 01:44] #63 closed

[2017-06-06 06:00] lwaldron commented on #57
Some minor issues with inst/extdata/template.csv:
* What do you want to accomplish with `*|unknown` under allowed value? This is the same as `*`.
* In some places an allowed value is "na", in others it's "unknown" - be clear about what the difference between these is, or record missingness in the same way
* allowedvalues shouldn't start or end with a `|` - e.g. for country, stool_texture

[2017-06-06 14:10] edoardopasolli commented on #75
the list of forthcoming datasets on the webpage has been updated

[2017-06-06 14:10] #75 closed

[2017-06-06 16:36] edoardopasolli opened #77 "redundancy between homepage and CONTRIBUTING.md file"

[2017-06-06 16:37] edoardopasolli commented on #77
cleaned up homepage and put there link to the CONTRIBUTING.md file, which was enriched

[2017-06-06 16:37] #77 closed

[2017-06-06 16:38] edoardopasolli commented on #73
you were right

[2017-06-06 16:38] #73 closed

[2017-06-06 16:41] edoardopasolli commented on #67
all curated metadata files were corrected. so this and other similar metadata errors were corrected when rebuilding the package

[2017-06-06 16:41] #67 closed

[2017-06-06 16:57] edoardopasolli commented on #57
template.csv file completely re-done during the rebuilding of the package. several iterations fixed minor issues.

"na" and "unknown" still coexist. we should discuss more about this.

[2017-06-06 17:02] edoardopasolli commented on #10
I think this issue is closed.
template.csv file was re-done during the rebuilding of the package
all metadata files went successfully through the checkCuration() function

[2017-06-06 17:02] #10 closed

[2017-06-06 18:07] schifferl commented on #57
I recognized this point too and handled it during import, treating "na" and "unknown" as equivalent.

[code]

[2017-06-07 05:32] lwaldron opened #78 "Create a new branch for curated metadata"
Give this branch a package structure, so that:
* datasets go in inst/extdata
* it depends on curatedMetagenomicData
* in tests/ it loads each dataset and runs it through checkCuration()
* it tests additional issues, like too many PMIDs and illegal NCBI/SRA IDs
* Continuous Integration lets you know if all datasets passed, and log files show you the curation issues

Finally, update CONTRIBUTING.md

[2017-06-07 09:58] edoardopasolli opened #79 "library(curatedMetadata)"
this library is cited in inst/pipeline/README.md, but does it really exist?

[2017-06-07 11:36] edoardopasolli commented on #57
it is correct to collapse "na" and "unknown" into a single class, but "none" should be kept distinct

[2017-06-07 11:38] edoardopasolli opened #80 "link to vignette"
in the "getting started" section we refer to the vignette using this link (https://bioconductor.org/packages/release/data/experiment/vignettes/curatedMetagenomicData/inst/doc/curatedMetagenomicData.html).
or should we refer to this file? https://github.com/waldronlab/curatedMetagenomicData/blob/master/vignettes/curatedMetagenomicData.Rmd

[2017-06-07 12:14] edoardopasolli opened #81 "download and process all samples script"
put the script that allows users to download and process all the samples included in the package.
this is something more reproducibility-oriented than really feasible

[2017-06-07 12:15] edoardopasolli commented on #81
added as inst/pipeline/curatedMetagenomicData_pipeline_allsamples.sh
it needs to be updated every time new samples are added into the package

[2017-06-07 12:15] #81 closed

[2017-06-07 12:23] lwaldron commented on #57
Agreed, keep "none" distinct. As we tighten up template.csv and formalize
its checking through a separate branch (issue #78), all this will be
handled during curation.

[2017-06-15 20:48] edoardopasolli commented on #79
it was a typo, library(curatedMetadata) changed into library(curatedMetagenomicData)

[2017-06-15 20:48] #79 closed

[2017-06-19 11:49] lwaldron opened #83 "Strip large binaries from history with BFG"
Because large data files were previously included in the git history cloning this repository takes an inordinate amount of time. See the previous issue from MultiAssayExperiment on how large binary data files can be cleaned from the history:

https://github.com/waldronlab/MultiAssayExperiment/issues/44

Note that any forks will have to do the same or to re-fork before issuing a pull request, or el

[2017-06-19 14:50] schifferl commented on #83
On it!

[2017-06-19 15:08] schifferl commented on #83
Completed with e0e7372, but the docs site has a few large images that make the repos a bit much to download. To fix, I could move the site to another repos if that makes sense.

[2017-06-19 22:09] #83 closed

[2017-06-20 14:46] schifferl commented on #76
This is related to the images included in the documentation, I could shrink and compress them or remove them altogether. I will try both and see if I can get rid of the note.

[2017-06-23 01:15] schifferl commented on #76
I optimized the images and this note is now gone. Closing this issue

[2017-06-23 01:15] #76 closed

[2017-06-23 13:00] lwaldron opened #84 "use metaphlan_bugs_list in examples"
checking genefamilies is an unnecessary use of resources, using metaphlan_bugs_list makes checking much faster and lower bandwidth. I changed this manually in the .R files, should be updated in the make_data() pipeline.

[2017-06-23 13:01] lwaldron opened #85 "run checkCuration example"
The checkCuration example is currently \dontrun{} as a precaution, remember to turn on running this again.

[2017-06-24 13:51] lwaldron opened #86 "travisCI should use bioc-devel"
travisCI checks now fail because Biobase 2.36.2 is the release version. Should be checked against devel Bioc.

[2017-06-24 13:52] lwaldron commented on #78
This is now its own repository https://github.com/waldronlab/curatedMetagenomicDataCuration

[2017-06-24 14:15] paolinomanghi commented on #78
Ok, Levi, perfect. Thanks, I'm going to upload the table e test the
uploading system.

On Sat, Jun 24, 2017 at 3:52 PM, Levi Waldron <notifications@github.com>
wrote:

[2017-06-26 12:48] edoardopasolli commented on #80
after updating the website, the link points to the vignette of the devel version now.

[2017-06-26 12:48] #80 closed

[2017-06-26 14:50] schifferl commented on #86
Cache is cleared and Travis CI will now use bioc-devel.

[2017-06-26 14:50] #86 closed

[2017-06-26 14:51] schifferl commented on #71
This happened some time ago, closing the issue.

[2017-06-26 14:51] #71 closed

[2017-06-26 16:04] schifferl commented on #78
Should this issue be closed now that the new repository was created?

[2017-06-26 16:11] schifferl commented on #72
The packages in suggest are there as the development dependencies and it seemed like a logical place for them, at least to me. The ExperimentHub API suggests doing source("./inst/scripts/make-data.R") and having this produce the data of the package. We don't use it to produce data but instead load all the functions and packages that will be necessary in producing data from inputs provided by the u

[2017-06-26 16:12] schifferl commented on #25
I am going to work on this again – I have the old code that was just never integrated. I will post with progress.

[2017-06-26 16:13] schifferl commented on #18
I will work to add the frequency table and figures to both HTML and PDF documentation.

[2017-06-27 20:07] schifferl commented on #84
Changes have been made in the pipeline, closing the issue.

[2017-06-27 20:07] #84 closed

[2017-06-27 22:08] lwaldron commented on #78
Next step is to create a tiny package that tests checkCuration() on any tsv
files in inst/, let's leave this issue open for that task.

On Jun 26, 2017 12:04 PM, "Lucas Schiffer" <notifications@github.com> wrote:

[2017-07-03 15:29] schifferl opened #89 "Align CI flags with Bioconductor Build System"
Change the CI flags in the YAML files to be consistent with the Bioconductor Build System.

[2017-07-11 11:28] wipperman opened #90 "Phyloseq error: duplicate rownames with pathabundance_relab.stool"
Hello,

There is an error converting taxa_names() from the ExpressionSet object to a Phyloseq object. Running the following two lines of code yields the following error:

hmpstool.eset <- HMP_2012.pathabundance_relab.stool()
hmpstool.pathabundance.phy <- ExpressionSet2phyloseq(hmpstool.eset)

Error in `taxa_names<-`(`*tmp*`, value = gsub("\"", "", taxa_names(x),  :
  taxa_names<-: You are attempti

[2017-07-11 17:46] schifferl commented on #90
I believe the ExpressionSet class requires that rownames be unique. I Will try a few things with the code you've provided above and see if I can achieve the conversion. It may be a problem with ExpressionSet2phyloseq and if so I will fix the error. Thanks for the bug report!

[2017-07-11 17:50] schifferl commented on #90
Only the `metaphlan_bugs_list` objects should be converted to `phyloseq` objects. I will add a more informative error to the function.

[code]

[2017-07-11 18:04] schifferl commented on #90
The rownames are indeed unique:
[code]
What analysis are you attempting to do using phyloseq?

[2017-07-11 18:24] wipperman commented on #90
Try running this additional line:

hmpstool.eset <- HMP_2012.pathabundance_relab.stool()
length(unique(rownames(hmpstool.eset))) == nrow(hmpstool.eset) #this is TRUE
pseq <- ExpressionSet2phyloseq(hmpstool.eset) #this gives an error

I also get that rownames are unique, however ExpressionSet2phyloseq will not convert rownames to "OTU names". I think Phyloseq offers many functionalities that would

[2017-07-11 18:57] schifferl commented on #90
This should do it:
[code]

[2017-07-11 19:12] schifferl commented on #89
closed via ec6ffc09df0190f72e11da6805f6d029eaef41af

[2017-07-11 19:12] #89 closed

[2017-07-11 19:59] wipperman commented on #90
Great--that does the trick. Thanks so much for the help!

[2017-07-11 20:03] schifferl commented on #90
Glad to help!

[2017-07-11 20:03] #90 closed

[2017-07-11 20:24] lwaldron commented on #90
Indeed, the default "simplify=TRUE" argument to  `ExpressionSet2phyloseq()` is specific to the MetaPhlAn2 bugs list. @wipperman we didn't expect anyone to want to convert pathway abundances to `phyloseq` objects - what advantage does `phyloseq` offer for these datasets?

[2017-07-11 21:01] lwaldron commented on #90
@schifferl rather than return an error if the rownames don't look like metaphlan bugs, perhaps just throw a warning and continue with `simplify=FALSE`?

[2017-07-11 21:07] wipperman commented on #90
@lwaldron @schifferl Thanks for all of the feedback! I think there are several great reasons to encourage the use of Phyloseq. I have found it to be a helpful package and means to store large amounts of data. My current code effectively turns dataframes (bugs, RNAseq data, Uniref pathways, etc) into Phyloseq objects, which I can then manipulate using common code. The powerful set of analytical too

[2017-07-16 13:32] lwaldron commented on #60
I instead put a tree for all of MetaPhlAn2 in inst/extdata, and added an option `phylogenetictree = TRUE/FALSE` to the `ExpressionSet2phyloseq()` function, in 1.7.1 ([changeset](https://github.com/waldronlab/curatedMetagenomicData/commit/7a24a0872fbd733b212268cfc5fe722ed274b630)]. Looking for confirmation from @edoardopasolli or others that the members of the MetaPhlAn2 bugs list that were kept an

[2017-07-16 15:19] lwaldron commented on #85
All curation checking has now been moved to https://github.com/waldronlab/curatedMetagenomicDataCuration

[2017-07-16 15:19] #85 closed

[2017-07-16 15:21] lwaldron commented on #65
I did this a while ago, now just need to add examples of `phylogenetictree = TRUE` option to `ExpressionSet2phyloseq()` function.

[2017-07-16 15:22] lwaldron commented on #78
Done, see https://github.com/waldronlab/curatedMetagenomicDataCuration

[2017-07-16 15:22] #78 closed

[2017-07-16 15:23] lwaldron commented on #60
Don't close this issue until:

1. have confirmation that enough of the metaphlan bugs lists are found in the tree labels
2. add to vignette
3. add to NEWS

[2017-07-16 15:25] lwaldron commented on #57
"unknown" is now gone, and upper-case "NA" is the only way to record missing values.  See [template.csv](https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/extdata/template.csv) in the curatedMetagenomicDataCuration repo.

[2017-07-16 15:25] #57 closed

[2017-07-16 20:58] lwaldron opened #91 "participant metadata files now end in _metadata.tsv"
I changed per-participant metadata files from `_metadata.txt` to `_metadata.tsv` at https://github.com/waldronlab/curatedMetagenomicDataCuration, to take advantage of [GitHub's automatic rendering of tsv files](https://help.github.com/articles/rendering-csv-and-tsv-data/). Make any changes necessary in the script and R pipelines. @edoardopasolli @paolinomanghi @schifferl .

[2017-07-16 21:41] paolinomanghi commented on #91
Ok

On Sun, Jul 16, 2017 at 10:58 PM, Levi Waldron <notifications@github.com>
wrote:

[2017-07-17 12:56] schifferl commented on #91
Thanks for the heads up 👍

[2017-07-20 03:33] lwaldron opened #92 "deprecate relab=TRUE option in the `ExpressionSet2phyloseq()` function."
It's confusing to offer both this and the *counts = TRUE/FALSE* argument to `curatedMetagenomicData()`. Also eliminate the vignette section recommending this use of `ExpressionSet2phyloseq()`.

[2017-07-20 03:58] lwaldron commented on #92
Update: vignette cleanup is done. @LiNk-NY what's the proper way to deprecate a function argument that is also in the release version?

[2017-07-24 18:36] wipperman commented on #90
@lwaldron @schifferl So I've managed to merge all of the experimental pathway data, however, when I run a PCA analysis on the HUMANN2 data comparing 9 ExperimentHub datasets with my own dataset, there was a clear separation between the two. I think I am running "default" Humann2 parameters, but I don't know how to confirm this. Do you have a detailed example of what the exact Humann2 parameters ar

[2017-07-24 18:39] schifferl commented on #90
@wipperman please see the files [here](https://github.com/waldronlab/curatedMetagenomicData/tree/master/inst/pipeline)

[2017-07-26 11:09] edoardopasolli commented on #90
@wipperman give a look in particular at the file curatedMetagenomicData_pipeline.sh (lines 43-45) to see how you can normalize the different data products

[2017-07-28 16:02] karchern opened #93 "Package requires R3.4?"

[2017-07-28 16:26] #93 closed

[2017-07-28 18:51] lwaldron commented on #93
Not really, unless you can manage to install the current release or devel
version of ExperimentHub and AnnotationHub (corresponding to the version of
curatedMetagenomicData you're running.) If you don't use the stock bioc
release or devel you're likely to run into dependency hell....

On Jul 28, 2017 12:03, "karchern" <notifications@github.com> wrote:

Hey,
I'm struggling with getting the most rec

[2017-08-01 21:51] lwaldron commented on #70
I still think it's worth updating to use the current API, which will make it easier to update the examples to new versions, more datasets, etc, and also will encourage people to use the recommended method of accessing datasets. I don't think this is a big job :)

[2017-08-07 21:26] matthpich opened #94 "Accessing VincentC_2016"
Hi,
Thanks for the great program
From this page https://waldronlab.github.io/curatedMetagenomicData/datasets-included/, VincentC_2016 dataset is now supposedly available.
I cannot access this dataset, while I can access datasets from the initial program release.
Is it expected?
Best,
M

[2017-08-07 22:39] schifferl commented on #94
Hello,
This is the expected behavior. The VincentC_2016 dataset is indeed available but you will need to use Bioc-Devel. Are you familar with the procedure of how to switch between the release and devel software?
Thanks,
Lucas

[2017-08-07 22:43] matthpich commented on #94
Nope.
I will have a look.
Thanks for your quick answer.
Best wishes,
M

2017-08-07 18:39 GMT-04:00 Lucas Schiffer <notifications@github.com>:

[2017-08-07 23:22] schifferl commented on #94
The long answer is here (https://bioconductor.org/developers/how-to/useDevel/) but the essence of the instructions are a few R commands, as follows.
[code]
This will switch you over to the devel software and `VincentC_2016` will be available.

I will see that the documentation is updated to reflect that devel must be used.

Thanks for using the package!

[2017-08-08 01:17] lwaldron commented on #94
@matthpich we will make this more clear on the github.io website and the README.md - thank you for bringing it to our attention.

[2017-08-08 13:35] matthpich commented on #94
Sounds great.
Thanks again for your very thorough answer and the great package.

[2017-08-08 13:35] #94 closed

[2017-08-31 22:03] lwaldron opened #95 "sync with git.bioconductor.org"
Will have to replace commit history with that on git.bioconductor.org.

[2017-09-08 16:43] #95 closed

[2017-09-08 21:43] lgeistlinger opened #96 "Reversing ExpressionSet2MRexperiment and ExpressionSet2phyloseq"
For downstream analysis, such as e.g. enrichment analysis with the EnrichmentBrowser, it would be great if these operation could be reversed.
This means two functions `MRexperiment2ExpressionSet` and `phyloseq2ExpressionSet` would be nice to have in order to continue analysis with a data structure that is well established.

I've already tried

[code]

using an object `mrexp` of class `MRexperiment

[2017-09-08 21:45] schifferl commented on #96
thank you @lgeistlinger I will see if it can be done easily

[2017-09-08 22:16] lwaldron commented on #96
Such a coercion function would be best situated in the [phyloseq](https://github.com/joey711/phyloseq) package, @joey711 do you agree? The reason for a special `ExpressionSet2phyloseq()` package in curatedMetagenomicData is because it makes specific assumptions about the rownames and contents of pData in order to construct the phyloseq object. I can't think of any such assumptions needed for going

[2017-09-08 22:23] joey711 commented on #96
I agree. `phyloseq2ExpressionSet` makes sense, and should go in phyloseq. Things that depend on ExpressionSet-class (and there are many) should not need to know about phyloseq to operate properly, and a maintenance nightmare/anti-pattern if every new special case package required that the general abstraction class (which we'll say is `ExpressionSet-class`) needed to add more transformation methods

[2017-09-08 22:25] joey711 commented on #96
fyi, I was just looking at an equivalent `biom2ExpressionSet` method to add to `biomformat` package. I can borrow that pattern for the phyloseq case.

Happy to take a peek at any draft code anyone might have already lying around, or tips. Otherwise I'm just going to go off of the constructors in the vignette.

[2017-09-08 23:00] lwaldron commented on #96
This seems to work as a coercion definition:
[code]

Not sure, but putting `library(Biobase)` seems appropriate instead of `importFrom( Biobase, ExpressionSet, AnnotatedDataFrame)` in the NAMESPACE, so the user has Biobase loaded after doing this coercion and can actually use the object.

[2017-09-08 23:24] joey711 commented on #96
nice. Thanks. I think `featureData=` is probably `tax_table(object)`.

That last bit about loading Biobase makes sesnse, too. Will try to keep Biobase a Suggests dependency.

[2017-09-08 23:33] lwaldron commented on #96
Oops, yes good catch `tax_table(object)`, and Biobase in Suggests should be fine. @h.corradabravo I posted an Issue also at https://github.com/HCBravoLab/metagenomeSeq/issues/53.

@lgeistlinger have you tried just using the `MRexperiment` objects as is? Since it inherits from `eSet`, it should just work if the functions you're using only need `is(mrexp, "eSet")`.

[2017-09-08 23:41] lgeistlinger commented on #96
This is what I did

[code]

That throws an error:
[code]

That indeed works:
[code]

[2017-09-08 23:44] joey711 commented on #96
That's strange. From `"?eSet-class"` doc:

[2017-09-08 23:47] joey711 commented on #96
From metagenomeSeq `allClasses.R`:

[code]

Should it inherit from `ExpressionSet` instead of directly from virtual class `eSet`? What's the convention recommended by BioC?

[2017-09-08 23:48] lgeistlinger commented on #96
@lwaldron @joey711 :

In the `setAs` from `phyloseq` to `ExpressionSet`, I guess you would typically use `require` instead of `library`.

You could also use the `.isAvailable` hook as eg. available here:

`https://github.com/lgeistlinger/EnrichmentBrowser/blob/master/R/utils.R`

[2017-09-09 00:19] lwaldron commented on #96
Since Biobase will never be unavailable if phyloseq is installed, I don't think you have to bother checking, and library/require will have the same side-effect of loading the package (if different return values). @lgeistlinger your hook is nice, especially checking all the available annotation packages and installing. In simpler cases, someone less helpful could make the user install packages them

[2017-09-09 00:35] lwaldron commented on #96
@lgeistlinger `as(zeller.mexp, "eSet")` doesn't do anything, it'll return back the MRExperiment class object. I meant that, anything requiring an eSet-derived class will just work with MRExperiment class object. But not if it requires an ExpressionSet-derived class.

@joey711 new classes today should really derive from SummarizedExperiment instead of either eSet or ExpressionSet. But on the differ

[2017-09-09 21:57] jnpaulson commented on #96
I'll add some coercion functions for an expression set and summarizedexperiment

[2017-09-09 22:46] lwaldron commented on #96
@jnpaulson you may not have to do anything since MRexperiment is derived from eSet, but 1) I have some questions for bioc-devel about why not all of these coercions work, and 2) deriving from ExpressionSet instead would give you direct compatibility with things expecting ExpressionSet and eliminate the need to coerce to ExpressionSet:

[code]

[2017-09-11 16:11] lgeistlinger commented on #96
@lwaldron:

Totally agreed. Accordingly having a function `phyloseq2SummarizedExperiment` would be fine (as soon as coercion from `ExpressionSet` to `SummarizedExperiment`, and vice versa, is possible; which currently for some reason doesn't seem to be the case).

My issue with dealing with `MRexperiment` was that it does not support the usual accessing via `exprs(mrexp)`, but rather `assayData(mr

[2017-09-11 17:29] jnpaulson commented on #96
That was intentional in our design.

On 2017-09-11 09:11, lgeistlinger wrote:

Links:
------
[1] https://github.com/lwaldron
[2]
https://github.com/waldronlab/curatedMetagenomicData/issues/96#issuecomment-328579042
[3]
https://github.com/notifications/unsubscribe-auth/AC5hgx-TK36xpeyWomw0SGzjYXvlH37kks5shVu3gaJpZM4PRub8

[2017-09-16 05:54] seandavi opened #98 "Question: what was the scope of the Uniref database used for curatedMetagenomicData?"
Noting that there are several flavors of Uniref available via humann2 download, which version is used for curatedMetagenomicData?

https://bitbucket.org/biobakery/humann2/wiki/Home#markdown-header-5-download-the-databases

[2017-09-16 08:06] edoardopasolli commented on #98
We use the "full UniRef90 database (11.0GB, recommended)" that can be downloaded via humann2 download

[2017-09-16 14:39] seandavi commented on #98
Thanks for confirming, @edoardopasolli.

[2017-09-16 14:39] #98 closed

[2017-09-16 18:46] lwaldron opened #100 "translation functions failing"
strange - from [Travis](https://ci.appveyor.com/project/schifferl/curatedmetagenomicdata-o9eib/build/1.0.398#L1429):

[code]

[2017-09-16 18:50] lwaldron commented on #100
The reason is that testing is now for some reason being done against Bioc 3.5, in spite of specification of bioc-devel in travis.yml, and the dataset used is not present in release. It's not actually a problem with curatedMetagenomicData.

[2017-09-17 20:31] lwaldron opened #101 ""Consider using the development version of curatedMetagenomicData" when devel version is in use"
When doing `library(curatedMetagenomicData)` in bioc-devel:

[code]

[2017-09-17 21:23] lwaldron opened #102 "support addition of new datasets with versions"
One fix would be if you can create symbolic links from older files to newer files for those that have not changed in the new version. For now I have restricted `inst/extdata/versions.txt` to the previous date.

[2017-09-17 21:25] lwaldron opened #103 "unit test to check that datasets are still present"
Would not be a bad idea to:
1. check downloading all metaphlan profiles with `dryrun=FALSE`
2. check downloading all datasets with `dryrun=TRUE`

[2017-09-28 15:53] lwaldron opened #105 "travis-CI is failing"
[code]

[2017-09-28 16:03] LiNk-NY commented on #105
Fixed in 8e58757a918d9a638a4e6ad7e23f46cf1ba660cb

[2017-09-28 19:07] lwaldron commented on #105
still failing, seems to be hung for 3 hours on:

[code]

[2017-09-29 03:43] #105 closed

[2017-10-13 15:10] schifferl commented on #96
Hi all, I wonder if there has been any progress on this issue since September. Specifically, does the `SummarizedExperiment2phyloseq` method exist at present? I need it for another project and will write it if someone else hasn't yet – just want to know before I dive in. Also, I wonder if we can close this issue and / or refine it a bit into a more discrete TODO. Let me know! Thanks

[2017-10-17 15:49] lwaldron commented on #96
It does not exist, but could be implemented easily, the essence being:
[code]

Since there are no SummarizedExperiments in curatedMetagenomicData, I think this would currently belong in HMP16SData rather than here.

If there is motivation on the part of microbiome package developers @joey711 @jnpaulson, I think we would all benefit from agreeing on a new Bioconductor core class for microbiome data

[2017-10-17 18:24] lgeistlinger commented on #96
I'm fine with that for the moment.

[2017-10-17 19:05] schifferl commented on #96
Great, I had in mind to take the strategy you outlined above. As for the new class, it does seem that an extension of `SummarizedExperiment` would be the right approach and I am happy to do the "pain" part of the job. A call and further discussion would be better forum though. I am going to close this for now and will put the `SummarizedExperiment2phyloseq` method in the `HMP16SData` package. 👍

[2017-10-17 19:05] #96 closed

[2017-10-17 19:58] jnpaulson commented on #96
@lwaldron @joey711 Agreed. We should meet / call and make some of these calls. We've been floating it around for a while now and I think it's time to migrate them all.

[2017-10-17 21:51] lwaldron commented on #96
@jnpaulson that's great. @joey711 what do you think? I'm willing to work on design and even on helping integrate into phyloseq and metagenomeSeq, as long as you're on board too. I think it can be done in a way as to maintain the current phyloseq API, but replacing the class with one containing SummarizedExperiment. This will have a number of long-term benefits, including compatibility with common

[2017-10-18 09:52] karchern opened #107 "putative error in metadata for QinJ_2012"
Hi Guys,

In the metadata for QinJ_2012, the subject "CON-103" is listed 5 times (with different sample IDs, of course). I believe this is an error, as to my knowledge the study did not have any sort of time series / mutliple sampling.

Cheers!

[2017-10-18 11:12] schifferl commented on #107
Thanks, nick! Edo and I will look into it and provide corrected metadata.

[2017-10-18 11:14] schifferl commented on #101
This message is there in Bioc 3.5 and is no longer necessary in Bioc 3.6. All versions display the correct message – closing the issue now.

[2017-10-18 11:14] #101 closed

[2017-10-18 11:15] schifferl commented on #102
Fixed with e47adbc!

[2017-10-18 11:15] #102 closed

[2017-10-18 11:17] schifferl commented on #100
This was corrected with a invalidation of travis cache some time ago! Closing now

[2017-10-18 11:17] #100 closed

[2017-10-18 11:19] schifferl commented on #25
I wonder if we can close this. It is on the roadmap for `HMP16SData` and will be provided there.

[2017-10-18 11:20] schifferl commented on #91
No known issues related to the change – closing this issue

[2017-10-18 11:20] #91 closed

[2017-10-18 11:24] lwaldron commented on #102
This commit was " more performant databases " ? Could you explain here how
the issue was resolved?

On Oct 18, 2017 7:15 AM, "Lucas Schiffer" <notifications@github.com> wrote:

[2017-10-18 11:33] lwaldron commented on #101
I can't tell from the commit message what the correctly displayed messages
will be in 3.5 and 3.6 - 3.5 suggests devel and 3.6 says nothing?

[2017-10-18 11:38] lwaldron commented on #25
I'd leave it open, since a function should be provided for cMD too and the
form of the datasets is currently different here and would require a
slightly different function. It may also require changes to the template.

On Oct 18, 2017 7:19 AM, "Lucas Schiffer" <notifications@github.com> wrote:

I wonder if we can close this. It is on the roadmap for HMP16SData and will
be provided there.

—
You ar

[2017-10-18 11:39] schifferl commented on #102
Yikes! I meant d8a45037b00fd6b79ad2eb33f61ceb0e90d59069

[2017-10-18 11:42] schifferl commented on #25
Ok, leaving open. Thinking we should move towards `SummarizedExperiment` in Bioc 3.7 so that it can potentially be the same function : )

[2017-10-18 11:49] lwaldron commented on #102
Looks like the right one :). For the record, perhaps an explanation of how
versioning works would be apropos in this thread, and at appropriate places
in the documentation for users and developers.

On Oct 18, 2017 7:39 AM, "Lucas Schiffer" <notifications@github.com> wrote:

[2017-10-18 11:51] lwaldron commented on #25
Yes, I agree with moving to SummarizedExperiment in 3.7!

On Oct 18, 2017 7:42 AM, "Lucas Schiffer" <notifications@github.com> wrote:

[2017-10-18 12:18] schifferl commented on #102
Ok, the essence of the resolution is this:

[code]

When each named function is initialized the latest version available becomes the default version returned. This accommodates for potentially different latest dates between different datasets.

Then the `curatedMetagenomicData()` function had the `cmdversion` argument removed and will just return the latest version. Older versions are still access

[2017-10-20 14:19] lwaldron opened #108 "unit test of combined_metadata against template"
combined_metadata should be checked against template.csv to ensure validity. This is already done at https://github.com/waldronlab/curatedMetagenomicDataCuration but should also be done in curatedMetagenomicData.

[2017-10-20 14:22] lwaldron opened #109 "unit test of combined_metadata against curatedMetagenomicDataCuration"
There is no assurance that changes at https://github.com/waldronlab/curatedMetagenomicDataCuration are propagated to curatedMetagenomicData. This check should fetch tsv files from curatedMetagenomicDataCuration, compare these to combined_metadata, and return a NOTE if there are any mismatches.

[2017-10-20 14:24] lwaldron opened #110 ""unknown" converted to NA"
"Unknown" is currently not allowed anywhere in the template.csv, so this conversion should be necessary, and should probably be removed in case we ever do decide to have an "unknown" value in the metadata:

https://github.com/waldronlab/curatedMetagenomicData/blob/3cc40237029df70241b4d38cf5125a7f96b37270/data-raw/format_metadata.R#L4

[2017-10-27 14:13] edoardopasolli opened #111 "automate the integration of vignette updates into package website"
I added in the page with the included datasets (https://waldronlab.github.io/curatedMetagenomicData/datasets-included/) the figure that shows the read depth for each dataset. Are you ok with this?
The link points to the figure that I copied from the devel vignette and saved as /curatedMetagenomicData/assets/img/datasets_depth.png. Or is it better, if possible, to link directly to the same figure p

[2017-10-27 15:08] lwaldron commented on #111
Yes, it needed to be done. Points out that we should automate this either by 1) embedding from the bioconductor.org vignette, or 2) with a Travis hook like I used on curatedMetagenomicDataCuration:
https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/8cec61fdf8abee17d2336a99a5836d2638b55f02/.travis.yml#L16. 1. is simpler.

[2017-11-01 21:13] schifferl commented on #96
Just having this thought, what if we call the class `MicrobiomeExperiment` and write it as an extension of `SummarizedExperiment` with the ability to handle tree structures?

[2017-11-02 00:08] lgeistlinger commented on #96
I guess that's pretty much the way to go here.
The main question is how to implement compatibility with tree structures and what can be recycled / adapted from the corresponding implementations in `MRexperiment` and `phyloseq`.
Furthermore, there have been many thoughts on the bioc devel mailing list on naming conventions - with the conclusion that you don't want to limit applicability by naming.

[2017-11-02 18:40] edoardopasolli opened #112 "NMETH paper"
In the homepage I replaced the pre-print with the NMETH paper, which I added to the "Publications" section too.
I kept the link to the pre-print in the "Analysis" section. Before changing it, I need to uniform the "PaperFigures.Rmd" code to the final version of the paper (nothing major, only minor graphical things).

[2017-11-15 16:51] Rrob123 opened #113 "Addition of 2 new datasets - Smith et al. Subramanian et al"
Suggestion to add 2 new datasets related to infant malnutrition. Details below:

Subramanian et al
Manuscript: https://www.ncbi.nlm.nih.gov/pubmed/23363771
Dataset: https://gordonlab.wustl.edu/Subramanian_6_14/Nature_2014_Processed_16S_rRNA_datasets.html

Smith et al
Manuscript: https://www.ncbi.nlm.nih.gov/pubmed/24896187
Dataset: https://gordonlab.wustl.edu/SuppData_2017.html

Many thanks,

R

[2017-11-15 17:03] lwaldron commented on #113
Great datasets, but used 16S amplicon sequencing, so are not compatible with the curatedMetagenomicData WMS pipeline. It would be great to create another resource for amplicon sequencing, but we don't currently have resources to. The closest thing I know for 16S studies is https://qiita.ucsd.edu/.

[2017-11-15 17:21] Rrob123 commented on #113
Thanks for the response, didn't realise they were 16S! We are currently generating similar datasets with WMS so hope to be able include them here.

Thanks for a great resource!

All the best.

[2017-11-15 17:46] lwaldron commented on #113
@nsegata corrected me that the Smith et al. paper does provide shotgun metagenomic data, and that metagenomic data do exist separately for the Subramanian et al. cohort. But both used 454 pyrosequencing, which presents different compatibility problems that he could explain better than me.

[2017-11-21 11:49] hainguyenct opened #114 "issue on datasets of MetAML"
Dear authors,
I read your paper:
"Machine Learning Meta-analysis of Large Metagenomic Datasets: Tools and Biological
Insights" [1]
If I would like to extract gene abundances from 6 datasets like fig2 in this paper, How may I do that with curatedMetagenomicData?
I am able to extract T2D (344 samples): `QinJ_2012<-combined_metadata[combined_metadata$dataset_name=='QinJ_2012' & !is.na(combined_metada

[2017-11-21 13:17] edoardopasolli commented on #114
This is the correspondence between the datasets used in our previous Plos CompBio paper ("Machine Learning Meta-analysis of Large Metagenomic Datasets: Tools and Biological Insights") and the new paper based on curatedMetagenomicData:
- Cirrhosis -> QinN_2014
- Colorectal -> ZellerG_2014
- IBD -> NielsenHB_2014
- Obesity -> LeChatelierE_2013
- T2D -> QinJ_2012
- WT2D -> KarlssonFH_2013

But please

[2017-11-21 13:19] hainguyenct commented on #114
Thank you so much for your help

[2017-11-21 16:27] lwaldron commented on #114
This is related to Issue #61 that I opened a while ago. Edo, would you consider writing a function that selects these datasets and appends the diseases to the names as you show above? I would probably put this in the vignette rather than as a package function.

[2017-11-21 16:29] lwaldron commented on #114
In that section we could also add the explanation you just gave, along with code for getting these datasets from the command line.

[2017-12-05 15:04] lwaldron commented on #112
@schifferl would you update the citation in both release and devel?

[2017-12-05 15:05] schifferl commented on #112
I will have it done shortly : )

[2017-12-05 15:10] lwaldron commented on #114
@edoardopasolli are you thinking to write a function to re-create this benchmarking dataset? Otherwise we can close this issue.

[2017-12-05 15:11] edoardopasolli commented on #114
yes i'll write it

[2017-12-06 14:51] fplaza opened #115 "NCBI_accession corresponds to sample_id in place of run_id for HMP samples"
Hello,

In the file _combined_metadata.rda_, the field NCBI_accession corresponds to the sample_id in place of the run_id for HMP samples.

For example:
dataset_name | sampleID | subjectID | NCBI_accession
HMP_2012 | SRS056519 | HMP_2012_765094712 | SRS056519
HMP_2012 | SRS018427 | HMP_2012_160218816 | SRS018427

Should be replaced by:
dataset_name | sampleID | subjectID | NCBI_accession
HMP_2012

[2017-12-06 15:37] edoardopasolli commented on #115
Thanks for catching this typo. I see that a similar problem is also affecting the KarlssonFH_2013 and the YuJ_2015 datasets.

@paolinomanghi could you generate the right NCBI_accession for these three datasets?

[2017-12-06 15:56] paolinomanghi commented on #107
Ok, sto operando

On Wed, Dec 6, 2017 at 4:41 PM, edoardopasolli <notifications@github.com>
wrote:

[2017-12-06 15:57] fplaza commented on #115
@schifferl
Yes, all the HMP samples are concerned.

[2017-12-06 17:25] ShaiberAlon opened #116 "Wrong pubmed id for skin samples"
Hi,

I was looking at the `combined_metadata` file (which is very helpful! thank you for it!), and I looked specifically at skin samples, and noticed that the pubmed id for the samples from the publication https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4185404/ have an increasing pubmed id, starting at the correct id (25279917) for the first sample in the table, but then increasing by one for each o

[2017-12-06 17:31] schifferl commented on #116
Glad you noticed, we will make sure it is resolved shortly.

[2017-12-06 18:02] edoardopasolli commented on #116
@ShaiberAlon Do you have a recent version of the package? (looking at the first column "dataset_name" you should get 28 unique names/values).
The issue you reported was present in the past, but it should be fixed now (I don't see the error doing combined_metadata on the last version of the package).

Please let us know if this was the problem, thanks!

[2017-12-07 10:19] edoardopasolli opened #117 "adding curator"
since we are going to rebuild the package by fixing a few bugs in the metadata (as reported in another open issue), should we added the "curator" field? if yes, how we name it? and whick kind of information do we want to put (such as first+last name, email, etc.)?

[2017-12-07 19:50] edoardopasolli opened #118 "explaining "study_condition" and "disease" fields"
An external user may have some difficulties in understanding how we defined the "study_condition" and "disease" fields. Should we clarify this aspect better somewhere?

[2017-12-07 23:02] ShaiberAlon commented on #116
Hi Lucas and Edoardo,

Thank you both for your quick response!
Edoardo, you are right, I have been using an old version. Sorry for this
mistake.

Thank you,

Alon

On Dec 6, 2017 12:02 PM, "edoardopasolli" <notifications@github.com> wrote:

@ShaiberAlon <https://github.com/shaiberalon> Do you have a recent version
of the package? (looking at the first column "dataset_name" you should get
28 unique

[2017-12-07 23:03] #116 closed

[2017-12-08 08:38] edoardopasolli commented on #116
no problem, happy that you resolved the issue

[2017-12-08 14:41] fplaza opened #119 "Addition of Loomba et al. dataset"
Could you add this dataset http://dx.doi.org/10.1016/j.cmet.2017.04.001 to curatedMetagenomicData?
The SRA files are available here: https://www.ncbi.nlm.nih.gov/bioproject/373901
Thanks

[2017-12-08 15:36] edoardopasolli commented on #119
Great dataset, thanks for the suggestion!

[2017-12-08 21:30] lwaldron commented on #118
I think the canonical location for variable documentation is in the "Description" column of https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/extdata/template.csv. If you would add this @edoardopasolli (and check the adequacy of the rest of the descriptions), then we'll convert this issue to one for @schifferl to parse this file to create automatic codebooks in the vign

[2017-12-08 21:49] lwaldron opened #120 "File of duplicate samples"
@paolinomanghi would you create a spreadsheet of duplicates, perhaps like this?
`study1   sampleID1   study2    sampleID2`

The assignment of "1" and "2" would be significant in that, when the user selects an option like `removeduplicates=TRUE`, the samples in study 2 would by default be the ones removed. I would relegate the smaller study to study 2, unless there is a better reason to think of on

[2017-12-09 12:30] paolinomanghi commented on #120
Yes, I'm collecting all the necessities and organising them. Want to avoid
any confusion in the future, and any difficulty in handling the whole
dataset.

On Fri, Dec 8, 2017 at 10:49 PM, Levi Waldron <notifications@github.com>
wrote:

[2017-12-09 19:34] lwaldron commented on #117
How about a "curator" column that is free form, but filled like: Edoardo Pasolli <edoardo.pasolli@gmail.com>. Should be added to https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/extdata/template.csv as a required field.

[2018-01-05 16:14] lwaldron commented on #113
Closing the issue because we cannot process 454 pyrosequencing datasets through our pipeline as it exists.

[2018-01-05 16:14] #113 closed

[2018-01-05 16:15] lwaldron commented on #72
This will occur as part of the migration of pipeline functions to a separate repo.

[2018-01-05 16:23] lwaldron commented on #59
@schifferl : try solutions 2 & 3 above (sparseMatrix and a SummarizedExperiment with remote data store, touch base with Vince on setting up the latter).

[2018-01-08 21:43] schifferl commented on #72
Just as an FYI, I am going to do this in the `development` branch and eventually merge back to `master`

[2018-01-08 21:55] schifferl commented on #110
`"unknown"` has been removed, and will otherwise be handled by the curation repo into the future

[2018-01-08 21:55] #110 closed

[2018-01-09 11:08] lwaldron commented on #110
It's good practice to link to the relevant changeset when closing an issue (I think this one is https://github.com/waldronlab/curatedMetagenomicData/commit/8cd5809e769c7966c20d3f7dbab2602cf1a175d9#diff-ae2c0b0f3672ae01bab0d4069c11183d). You can do so by including it in the commit message, e.g.:

`commit -m "Do not treat 'unknown' as NA. 'unknown is no longer allowed by curation template. Closes #1

[2018-01-09 15:31] schifferl commented on #119
This issue was moved to waldronlab/curatedMetagenomicDataCuration#13

[2018-01-09 15:31] #119 closed

[2018-01-09 15:32] schifferl commented on #120
This issue was moved to waldronlab/curatedMetagenomicDataCuration#14

[2018-01-09 15:33] #120 closed

[2018-01-09 15:44] schifferl commented on #58
This issue was moved to waldronlab/curatedMetagenomicDataCuration#15

[2018-01-09 15:44] #58 closed

[2018-01-09 15:45] schifferl commented on #115
This issue was moved to waldronlab/curatedMetagenomicDataCuration#16

[2018-01-09 15:45] #115 closed

[2018-01-09 15:45] #117 closed

[2018-01-09 15:46] schifferl commented on #118
This issue was moved to waldronlab/curatedMetagenomicDataCuration#18

[2018-01-09 15:46] #118 closed

[2018-01-09 15:47] schifferl commented on #59
This issue was moved to waldronlab/curatedMetagenomicDataPipeline#1

[2018-01-09 15:47] #59 closed

[2018-01-09 15:49] schifferl commented on #108
@lwaldron do you think we need to do this twice? Or the first time in the curation repo is sufficient?

[2018-01-09 15:51] schifferl commented on #107
This issue was moved to waldronlab/curatedMetagenomicDataCuration#19

[2018-01-09 15:51] #107 closed

[2018-01-09 15:54] schifferl commented on #108
Never mind, this makes more sense after reading #109. I am going to combine and summarize the two issues and then write the test.

[2018-01-09 16:17] lwaldron commented on #108
Yep - just a way to know when cMD is or is not up to date with cMDCuration, and to know what differences there are. If `combined_metadata` here doesn't match with `template.csv` here that would be an warning. If `template.csv` here does not match `template.csv` at cMDCuration that would only be a note. Eventually the pipeline will make these transfers more seamless, but in any case we want to make

[2018-01-09 16:26] edoardopasolli opened #121 "spreadsheet"
adding the option to download a spreadsheet (simply a .csv) directly from the website?
maybe feasible for metadata + metaphlan_bugs_list only?

[2018-01-09 16:36] schifferl commented on #121
@edoardopasolli I agree this would be very useful, and should be provided so the data is useful in other languages (python, stata, etc.)

[2018-01-18 17:53] schifferl commented on #111
I have relabeled this issue as "automate the integration of vignette updates into package website" because I think that is essentially what we are after. The figure looks good and should automatically be updated when things change – a Travis hook is the right strategy for that.

[2018-01-18 18:32] lwaldron commented on #111
Thumbs up!

[2018-03-14 09:11] lwaldron commented on #61
I think this issue can be closed as a duplicate of #61.

[2018-03-14 09:11] #61 closed

[2018-03-14 09:24] lwaldron opened #122 "Add metagenomeSeq example to vignette"
See https://bioconductor.org/packages/release/bioc/html/metagenomeSeq.html for usage.

The vignette [source](https://github.com/waldronlab/curatedMetagenomicData/blob/master/vignettes/curatedMetagenomicData.Rmd) and [built](https://bioconductor.org/packages/release/data/experiment/vignettes/curatedMetagenomicData/inst/doc/curatedMetagenomicData.html) could use a section demonstrating how to perfor

[2018-03-14 09:28] lwaldron commented on #121
Note that the command-line tool can already create `.tsv` files for all available datasets - the main issue here is deciding on a home for them (AWS S3?) and figuring out how to keep them up to date & versioned with new versions of the package.

[2018-03-14 09:31] lwaldron opened #123 "create a data dictionary"
It would be very useful to have a data dictionary that describes all curated variables available, and links them where possible to formal ontologies.

This issue is posted at https://github.com/waldronlab/curatedMetagenomicDataCuration/issues/20

[2018-03-14 10:55] lwaldron opened #124 "curation of new datasets"
The first step in adding new datasets to curatedMetagenomicData is curation, which involves recording information about the study and specimens using a controlled vocabulary. We use a formalized curation system described and implemented at https://github.com/waldronlab/curatedMetagenomicDataCuration. There is a [list of datasets planned for inclusion](https://waldronlab.github.io/curatedMetagenomi

[2018-03-15 17:40] lwaldron opened #125 "Make datasets-planned up to date"
Replace:

https://waldronlab.github.io/curatedMetagenomicData/datasets-planned/

with what you are actually using for planning.

[2018-04-06 15:30] lwaldron opened #126 "automatic addition of # reads to metadata table"
Currently this is being added manually to the human-curated metadata table. It should be automatic, added at the end of the high load pipeline

[2018-05-09 12:23] edoardopasolli opened #127 "duplicated datasets"
some datasets appear to be duplicated in the latest release due to the change of "-" into "_" in the filename:

Castro-NallarE_2015.metaphlan_bugs_list.oralcavity
Castro_NallarE_2015.metaphlan_bugs_list.oralcavity

Heitz-BuschartA_2016.metaphlan_bugs_list.stool
Heitz_BuschartA_2016.metaphlan_bugs_list.stool

Obregon-TitoAJ_2015.metaphlan_bugs_list.stool
Obregon_TitoAJ_2015.metaphlan_bugs_list.stoo

[2018-05-09 14:40] schifferl commented on #127
I don't think they are duplicated but you are correct in thinking this is related to the change from `-` to `_`. Do you have a more concrete example I could look at?

[2018-05-09 14:54] edoardopasolli commented on #127
e.g., "curatedMetagenomicData("*metaphlan_bugs*.oralcavity", dryrun = T)"

gives

"BritoIL_2016.metaphlan_bugs_list.oralcavity"
"Castro-NallarE_2015.metaphlan_bugs_list.oralcavity" "Castro_NallarE_2015.metaphlan_bugs_list.oralcavity"
"HMP_2012.metaphlan_bugs_list.oralcavity"

[2018-06-11 14:12] lwaldron commented on #127
I notice this too in devel, for three datasets (but not including HMP?):

[code]

[2018-06-11 14:16] edoardopasolli commented on #127
Yes only these three datasets are affected by this issue:

Castro-NallarE_2015.metaphlan_bugs_list.oralcavity
Castro_NallarE_2015.metaphlan_bugs_list.oralcavity

Heitz-BuschartA_2016.metaphlan_bugs_list.stool
Heitz_BuschartA_2016.metaphlan_bugs_list.stool

Obregon-TitoAJ_2015.metaphlan_bugs_list.stool
Obregon_TitoAJ_2015.metaphlan_bugs_list.stool

[2018-06-13 23:56] lwaldron commented on #127
I see that two tests were circumvented to allow this bug to enter release:

https://github.com/waldronlab/curatedMetagenomicData/commit/f4235cb25281feec35223509190d3c96f16e12f0
https://github.com/waldronlab/curatedMetagenomicData/commit/81f91b49fec946d72cc29db419373548d732f4a9

Now that there may be code out "in the wild" using both forms, we are supposed to go through the [18-month deprecation cy

[2018-06-28 15:18] zhanxw opened #128 "How to create metadata.tsv"
I want to create an ExpressionSet by following this [link](https://github.com/waldronlab/curatedMetagenomicData/wiki/The-curatedMetagenomicData-pipelines).
But I don't understand the format requirement for `metadata.tsv`.
I have tried but failed to:

1.  find an example `metadata.tsv` file from `s3://curatedmetagenomics.bioconductor.org
`

2. create my own file from the [template](https://github.c

[2018-06-28 15:32] #128 closed

[2018-06-28 15:33] edoardopasolli commented on #128
The metadata files for all the datasets included in the package can be found from here: https://github.com/waldronlab/curatedMetagenomicDataCuration/tree/master/inst/curated/

[2018-06-29 03:59] zhanxw commented on #128
I missed some required columns (e.g. `PMID`).
All required columns are specified in the template file [link](https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/extdata/template.csv).

[2018-06-29 05:22] zhanxw opened #129 "make_data failed"
I followed the instruction of curatedMetagenomicData pipelin [link](https://github.com/waldronlab/curatedMetagenomicData/wiki/The-curatedMetagenomicData-pipelines), but failed with a warning related to `full_join`.
From this line [link](https://github.com/waldronlab/curatedMetagenomicDataPipeline/blob/01b484c6414d82495a7dd2be6ec8489d68b31ddf/R/combine_metadata.R#L7), the variable `combined_metadat

[2018-06-29 20:45] schifferl commented on #129
Hi @zhanxw, this error occurred because of the transition I made from `data.frame` objects to `DataFrame` objects in the last release. I will get the issue fixed next week and let you know as soon as I have a patch ready.

[2018-06-29 21:03] edoardopasolli commented on #128
exactly, all the mandatory fields are marked as "required" in the template.csv file

[2018-07-04 13:37] lwaldron opened #130 "method for returning patients based on filter"
The current selection methods are based only on dataset names. Would like to be able to provide an expression like gender=='male' & disease=='CRC' and return dataset/patients that match.

Some sample code:
[code]

[2018-07-05 14:45] lwaldron opened #131 "make_data produces different combined_metadata"
The following code produces a different `combined_metadata` than is currently in the package, including making a `data.frame` instead of a `DataFrame`:

[code]

[code]

[2018-07-05 15:18] lwaldron commented on #127
Just to clarify, I would like to deprecate the *underscore* versions and keep the hyphen versions, since the underscores are a munging of the original hyphenated author names and are only recently released. I will remove the underscores from the `curatedMetagenomicData()` function, @schifferl can you clarify what needs to be done in the generating pipeline?

[2018-08-01 11:09] jacodela opened #133 "Contributing Analysis"
Hello,

we recently used curatedMetagenomicData to perform an analysis of the taxonomic profile of the gut microbiota of western and non-western populations. The code for this can be found in https://github.com/jsescobar/westernization

Thanks for this package, it's been really useful!

[2018-08-15 11:46] #133 closed

[2018-09-16 03:19] DryLab-Scientific opened #134 "Add getSampleIds function and getData function"
getSampleIds <- function(filterstring="gender=='male' & disease=='CRC'"){
  filterstring <- parse(text = filterstring)
  unnested <- dplyr::mutate(data.frame(combined_metadata), disease=strsplit(disease, ";")) %>%
    tidyr::unnest(disease) %>%
    mutate(antibiotics_family=strsplit(antibiotics_family, ";")) %>%
    tidyr::unnest(antibiotics_family)
  unnested <- base::subset(unnested, base::eval(

[2018-09-18 14:17] lwaldron commented on #134
This is part of #130 .

[2018-09-18 14:17] #134 closed

[2018-10-23 15:56] lwaldron commented on #127
The most recent build ( [changeset](https://github.com/cmirzayi/curatedMetagenomicData/commit/8b66dda809c23dbb2218afb241b1ddb333d8ad5e#diff-93971b06ab2d4f6d6cd3bc0be3ca10fe) ) contains the following munged names:

* Heitz_BuschartA_2016
* Castro_NallarE_2015
* Obregon_TitoAJ_2015

@schifferl can you advise on where the names get munged?

[2018-10-23 16:42] cmirzayi commented on #127
@lwaldron I think the issue might be in `eset_name()`:

[code]
I'm assuming we want it to run on data_type and bodysite but not on dataset_dir. Perhaps this could be:

[code]

That seems to work for me:

[code]

[2018-10-23 17:02] lwaldron commented on #127
Nice patch, @cmirzayi. Would you rerun those three datasets like this? I
don't think we want to munge any part of the names, but as far as I recall
the data_type and bodysite as defined upstream contain no hyphens anyways.

Il mar 23 ott 2018, 12:47 PM cmirzayi <notifications@github.com> ha scritto:

[2018-10-23 17:08] cmirzayi commented on #127
Yep I'll rerun them.

[2018-10-23 23:33] lwaldron commented on #127
I've initiated the [deprecation process](https://bioconductor.org/developers/how-to/deprecation/), and added a unit test against the "-" -> "_" name munging.

Immediately after release, the devel version should have the following `expect_warning` lines changed to `expect_error`:

https://github.com/waldronlab/curatedMetagenomicData/blob/9e54bcbb0f291c683bb9d80808ee4fb1ebca1382/tests/testthat/test-

[2018-10-24 04:46] lwaldron commented on #127
Rats, the new dataset `Bengtsson-PalmeJ_2015` still has its hyphen munged.

[2018-10-24 05:29] lwaldron opened #137 "the new dataset `Bengtsson-PalmeJ_2015` has munged hyphen"
_Originally posted by @lwaldron in https://github.com/waldronlab/curatedMetagenomicData/issue_comments#issuecomment-432511275_

[2018-10-24 05:30] lwaldron commented on #137
I manually cleaned up `Bengtsson-PalmeJ_2015` in the repo, @cmirzayi will you make sure the data objects are also named correctly (hyphen, not underscore).

[2018-10-24 06:07] lwaldron opened #138 "Make sure combined_metadata is up to date"
Make sure that `data/combined_metadata`:

- [ ] has the new datasets
- [ ] has the updated metadata
- [ ] has correct dataset names (Castro-NallarE, Heitz-BuschartA, Obregon-TitoAJ, Bengtsson-PalmeJ - and does not have underscored versions of these datasets)

[2018-10-25 05:16] lwaldron opened #140 "make_data() does not version datasets"
No dates are prepended to the filenames or the Title column in `inst/extdata/metadata.csv`. Presumably `add_version_number()` needs to be called as an additional (undocumented) step.

However, after running `make_data()` on all datasets, we will end up with repeated entries in ExperimentHub, with a new version the same as the old version. @schifferl how this is supposed to work?

[2018-10-25 06:03] lwaldron commented on #140
Possible fix in version-to-make_data() branch:

https://github.com/waldronlab/curatedMetagenomicData/tree/version-to-make_data()

[2018-10-25 06:28] lwaldron opened #141 "NEWS file for new datasets"
New datasets are:

* Bengtsson-PalmeJ_2015
* DavidLA_2015
* KosticAD_2015
* LiSS_2016
* LoombaR_2017
* OlmMR_2017
* PasolliE_2018
* ShiB_2015
* ThomasAM_2018a
* WenC_2017

[2018-10-25 17:02] cmirzayi commented on #140
Yeah it appears that it's in `make_all()` but was not documented in the Wiki. I added instructions to the Wiki to run `add_version_number()` after running `make_data()` for all the datasets. Also as the Wiki is getting long and it might be easy to miss a step or two I added a "tl;dr" at the end with a bare bones step-by-step list of steps for running the pipeline.

[2018-10-25 17:02] #140 closed

[2018-10-25 22:01] lwaldron opened #143 "20181025.ShiB_2015.pathcoverage_relab.oralcavity is missing"
Missing from `metadata.csv`, ExpressionSets, and man page.

[2018-10-25 22:03] lwaldron commented on #138
This is now tested for in commit https://github.com/waldronlab/curatedMetagenomicData/commit/6d55acc92726dbd11f07c7a1fc1fc219e031d462

[2018-10-25 22:03] #138 closed

[2018-10-25 22:46] #143 closed

[2018-10-25 22:48] lwaldron commented on #141
Closed by 8444a78c3ffe87b89aae4475be5d32aa84186365

[2018-10-25 22:48] #141 closed

[2018-10-25 22:49] lwaldron commented on #137
Closed by 8e3cfcab29c7cff0159a7bec6714fd58838aa2cd

[2018-10-25 22:49] #137 closed

[2018-10-25 22:52] lwaldron commented on #129
@zhanxw I'm sorry I neglected to update this issue in a timely manner, but I did fix this back on July 5 with commit 2aa0218cd78af2397e3d95683b6f67ecc5d22ffc. I hope it didn't hold you up.

[2018-10-25 22:52] #129 closed

[2018-10-26 14:52] lwaldron commented on #131
`combined_metadata` is now updated. Updating cMD with the most current `curatedMetagenomicDataCuration` will be incorporated in the pipeline.

[2018-10-26 14:52] #131 closed

[2018-10-26 14:56] lwaldron commented on #127
Duplicate and munged dataset names are resolved in Bioc 3.1 rc1 (https://github.com/waldronlab/curatedMetagenomicData/releases/tag/Bioc3.1_rc1)

[2018-10-26 14:56] #127 closed

[2018-10-29 15:56] lwaldron opened #144 "make_metadata should run makeExperimentHubMetadata("curatedMetagenomicData")"
The script should check that makeExperimentHubMetadata("curatedMetagenomicData") runs without errors. Current issues in `inst/extdata/metadata.csv` are:

- [ ] use "Homo sapiens" as the species
- [ ] The newly added resources should have a BiocVersion number of 3.8
- [ ] There seems to be a formatting ERROR with RDataPath everything under 589
- [ ] has an empty entry for the RDataPath
- [ ] add Ex

[2018-10-29 17:42] lwaldron commented on #144
The issues are manually fixed with commits 0e7d343ebf42442297b0cc64482e74aee3232aa1 and  d1b7a493b937b226fd384fe211657bb079685f85, but I'll leave this issue open until `make_metadata()`:
- [ ] resolves the things identifies above, and
- [ ] includes a call to `ExperimentHubData::makeExperimentHubMetadata()`

[2018-11-02 21:21] lwaldron opened #146 "`Bengtsson-PalmeJ_2015.metaphlan_bugs_list.stool`()"
Make sure there are back-ticks around all the man page examples for all hyphenated datasets (or all datasets to be safe).

[2018-11-02 21:22] lwaldron opened #147 "Add aliases for deprecated hyphenated datasets"
Can do this manually, will clear up current R CMD check warning.

[2018-11-04 17:08] lwaldron commented on #147
Done in release with 583ce5b. For devel, I would say it's not really necessary and could wait until the end of the development cycle.

[2018-11-04 17:12] lwaldron commented on #146
Closed by fe03035 in devel 3.9 and b4b069b in release 3.8.

[2018-11-04 17:12] #146 closed

[2018-11-04 17:18] lwaldron opened #149 "Deprecation process for munged dataset names"
The next step is to change Deprecated -> Defunct in the master branch here in GitHub and on git.bioconductor.org. Not a rush but should be done soon.

[Current matches of "deprecated"](https://github.com/waldronlab/curatedMetagenomicData/search?q=deprecated&unscoped_q=deprecated)

[Bioconductor deprecation HOWTO](https://bioconductor.org/developers/how-to/deprecation/)

After the release of Biocon

[2018-11-07 18:12] matthpich opened #150 "No internet connection using 'localHub=TRUE'"
Hi,
I just did a fresh R/Bioconductor/curatedMetagenomicData install.
I am trying to use curatedMetagenomicData but encounter an unexpected problem:

Working on HMP_2012.metaphlan_bugs_list.stool
No internet connection using 'localHub=TRUE'
snapshotDate(): 2016-12-12
Error in (function (cmdversion = yy, metadata = FALSE)  :
  resource HMP_2012.metaphlan_bugs_list.stool not found in ExperimentHub
T

[2018-11-07 18:30] matthpich commented on #150
Sure thing!

`R version 3.5.1 (2018-07-02)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS High Sierra 10.13.6

Matrix products: default
BLAS: /Library/Frameworks/R.framework/Versions/3.5/Resources/lib/libRblas.0.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.5/Resources/lib/libRlapack.dylib

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

att

[2018-11-07 18:33] lwaldron commented on #150
I'm confused because using the same versions of cMD and EH (the current release) I don't get any error, but using previous versions I do. Is that computer offline as suggested above?

[2018-11-07 18:37] matthpich commented on #150
The computer is not offline.

[2018-11-07 19:00] matthpich commented on #150
It might have been a proxy problem.
Thanks for your help.

[2018-11-07 19:00] #150 closed

[2018-11-09 22:02] cmirzayi commented on #150
I wanted to investigate this a bit further to make sure everything was behaving correctly. If you try to use `curatedMetagenomicData()` on a dataset you have not downloaded you get a message similar to what @matthpich received:

[code]

If you have downloaded the dataset before, it correctly uses a local cache of the dataset when you're offline:

[code]

So based on my understanding of how CMD sho

[2018-11-09 22:40] lwaldron commented on #150
Yes, then this is the correct behavior. The ExperimentHub error message ("No internet connection") is informative enough, but it would be nicer to provide a better error message from the `curatedMetagenomicData` function than "Try a different cmdversion".

[2018-11-09 22:42] lwaldron commented on #150
And as for `cmdversion`, Lucas removed this option because it was easy for users to get errors when when specifying it when for dates when some datasets were present but not others. So now outdated datasets are available only through `ExperimentHub()` calls directly. I'm not crazy about this solution, but it will take some work to make the versioning system more flexible.

[2019-01-14 10:26] vjcitn opened #152 "systematic colData trimming"
I have found that basic retrievals with curatedTCGAData lead to colData with thousands of fields.  The following function will remove fields for which frequency of NA exceeds some given fraction (defaulting to 20%) and optionally drops fields whose names contain given strings.  Pitfalls, other approaches?

[code]

[2019-01-14 14:30] #152 closed, assigned to nobody

[2019-02-11 08:25] fplaza opened #153 "HMP2012: posterior fornix samples are incorrectly tagged as oral cavity"
Hello,
posterior_fornix samples in the HMP_2012 are incorrectly tagged as 'oralcavity' whereas they should be as 'vagina'.
Could you fix this?

[2019-02-11 08:34] edoardopasolli commented on #153
Thanks! Yes we were aware of this. It will be fixed in the next release.

[2019-02-19 00:23] schifferl commented on #153
This issue was moved to waldronlab/curatedMetagenomicDataCuration#30

[2019-02-19 01:18] lwaldron commented on #153
This issue was fixed in curatedMetagenomicDataCuration long ago (
https://github.com/waldronlab/curatedMetagenomicDataCuration/commit/696ba151ac32fade02991e9a90cd4adaa6ecb200#diff-e0958d8bf3447badde33d65a9959bd7c) and consequently in the pData and man pages here, but the error remains in `combined_metadata` here, so the issue belongs here and not on the curation site.

[2019-04-12 08:13] yiqijiang17 opened #154 "MetaPhlAn2 and HUMANn2 profiles of two new Italian cohorts of CRC"
Hi all,
In the Data Availability part of "Metagenomic analysis of colorectal cancer datasets
identifies cross-cohort microbial diagnostic
signatures and a link with choline degradation" mentioned,

Read Archive under accession No. SRP136711. MetaPhlAn2 and HUMANn2
profiles for the new cohorts were also added to the curatedMetagenomicData
R package along with their corresponding metadata.

The two

[2019-04-12 08:31] nsegata commented on #154
Hi, we are still updating the package, but Paolo (in CC) can provide the
tables that are not already in cMD.

thanks
Nicola

On Fri, Apr 12, 2019 at 10:13 AM yiqijiang17 <notifications@github.com>
wrote:

[2019-04-15 08:42] fconstancias opened #155 "Importing metaphlan2/HUMAnN2 output tables into curatedMetagenomicData"
Hi,
I am trying to import metaphlan2/HUMAnN2 output I have generated into cureatedMetagenomicData. Do you have any guidelines - tutorial ?

Thanks a ton

[2019-04-15 12:23] paolinomanghi commented on #154
Hi, thanks for getting in touch. The table for the new cohorts are available via Dropbox, at "http://segatalab.cibio.unitn.it/data/Thomas_et_al.html". We will add all the data for the described meta-analysis soon, encompassing all the cohorts and all the profile types

[2019-05-04 22:04] edoardopasolli commented on #155
Hi,

We are happy to include your dataset into the package.
Are the raw reads already publicly available? In that case we can simply process and include them. If not, let us know and we'll see how to proceed to move the files.

Thanks,
Edoardo

[2019-05-05 10:34] fconstancias commented on #155
Thank you for your answer.
The raw data are not available yet, I am actually working on the functional and taxonomic tables produced but metaphlan2/humann2 and the idea is to import those tables as a curatedMetagenomicData R object in order to put my dataset in the context of already published dataset available in curatedMetagenomicData.

[2019-05-07 21:45] edoardopasolli commented on #155
You should follow these instructions to upload the profiles: https://github.com/waldronlab/curatedMetagenomicData/wiki/The-curatedMetagenomicData-pipelines

Let us know if you have any issues!

[2019-07-11 10:54] edoardopasolli commented on #154
The two datasets have been added as ThomasAM_2018a and ThomasAM_2018a. I close this issue.

[2019-07-11 10:54] #154 closed

[2019-07-26 12:22] swuyts commented on #153
Hi all,

Any idea when this issue can also be resolver in the `combined_metadata`? I am using that file as the start of my analysis and it would be great if this could be fixed so that I can remove my manual pruning.

Thanks!

[2019-07-26 19:31] lwaldron commented on #153
@schifferl do you know why this bug persisted through the April release update? Should I just fix it manually?

[2019-07-29 13:58] schifferl commented on #153
Hello all, I am not sure how the bug persisted through the April release update but I will take a look at it today and give you an update. Thanks, Lucas.

[2019-07-29 14:38] schifferl commented on #153
@swuyts will you have another look at your analysis and see that you have an updated version of cMD? I have just checked the GitHub and BioC versions (release 1.14.1 and devel 1.15.1) – all `posterior_fornix` samples list their `body_site` as `vagina`. If you find something please let me know, otherwise we are ready to close this issue. (FYI @lwaldron)

[2019-07-30 09:30] swuyts commented on #153
Thank you for digging into this.

I had updated all my BioC packages and thought that would do it. But it seems I was still running curatedMetagenomicData `1.12.3` as I am using R `3.5.1`. I therefore needed to update R to `3.6`, reinstall all packages and only then I was able to upgrade to the current version of curatedMetagenomicData.

My apologies, this was completely my fault as the package wa

[2019-07-30 17:23] #153 closed

[2019-09-30 03:13] morganx opened #156 "A tiny little curation typo"
The field "study_condition" for Vatanen2016 contains both "pyelonefritis" (2 samples) and "pyelonephritis" (6 samples). You probably meant "pyelonephritis" for both?

[2019-09-30 14:37] schifferl commented on #156
Hi @morganx, thank you for letting us know – we will have this fixed in the October release of Bioconductor.

[2019-09-30 21:46] lwaldron commented on #156
Lucas, can you check if the template had both spellings added, and if so by
whom? It may point to a need for some thought into methods for template
updates.

[2019-09-30 21:52] morganx opened #157 "References updated in next update?"
References for Thomas AM 2018a & 2018b are currently missing from the reference manual. I presume one of them is PMID 30936548 & you're probably planning to include in next update but reminder not to forget :) Thanks.

[2019-09-30 23:21] schifferl commented on #156
Yes, I will check why this happened and report back.

[2019-09-30 23:23] schifferl commented on #157
Hi @morganx, when the studies where first published they didn't have PMID numbers. I am going to move this over to the curation repo and make sure the metadata gets updated.

[2019-10-23 09:10] lwaldron commented on #149
@cmirzayi can you close this issue?

[2019-10-23 09:11] lwaldron commented on #147
Deprecation process is complete, can you close @cmirzayi ?

[2019-10-23 14:14] fconstancias commented on #155
Thanks for your help.
I run metaphlan2 and then humann2 specifiing the metaphlan2 bug list.
I have .tsv tables for pathcoverage, pathabundance and gene_families. I did normalize the two latter to relative abundance. But I am a bit confused with the marker_abundance and marker_presence tables I should also upload. It sounds to me that they are related to metaphlan2 output but I have just kept *prof

[2019-10-23 15:44] cmirzayi commented on #149
The issue was resolved as of the April release.

[2019-10-23 15:44] #149 closed

[2019-10-23 15:44] #147 closed

[2019-12-06 11:41] lwaldron opened #158 "?combined_metadata has a lot of NAs"
See `?combined_metadata` - it has over 30 variables called NA with NA for a description.

[2019-12-06 12:04] lwaldron opened #159 "combined_metadata has some munged colnames"
Present in both release and devel. Only the underscore versions are present in the [template](https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/extdata/template.csv) so this is not a curation error.

[code]

<sup>Created on 2019-12-06 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2020-01-22 20:42] b-tierney opened #160 "Annotations for gene families"
Hi,

I have a number of Uniref90 IDs pulled from CMD that are out of date with the current Uniref, meaning I can't look up what the annotations are. I could grab them from Uniparc, but doing so by hand isn't feasible for the thousands of IDs I need to query.

Can you recommend a way to map Uniref90 IDs from the gene family datasets to gene names? Or at the very least, is there sequence information

[2020-01-22 22:17] edoardopasolli commented on #160
Hi Braden,

I don't have a solution for updating the entries to current UniRef/UniProt identifiers, and it is something not implemented in curatedMetagenomicData.

But anything UniRef that was profiled by HUMAnN2 could be named/regrouped with current annotations using the HUMAnN2 rename/regroup utilities and utility mapping files. Please check out these sections of the manual for more details:
htt

[2020-01-22 23:12] b-tierney commented on #160
Got it, thank you for the quick response. It looks like the rename table may get at what I'm going for, provided that mapping file (map_uniref90_name.txt) has each Uniref90 ID ever used in a HUMAnN2 database. Is that the case?

That said, do you happen to have recorded the version of HUMAnN2 you used for processing each dataset in CMD? I'd love to have the raw sequences for my consensus genes, and

[2020-01-23 09:02] edoardopasolli commented on #160
Each dataset in cMD was processed with HUMAnN2 v0.7.1

[2020-01-23 13:24] b-tierney commented on #160
Thanks. I ended up figuring out that the characters following "Uniref90_" for each gene name are deprecated UniprotKB IDs that map to Uniparc IDs which, in turn, can be used to map to current Uniref90. Probably wouldn't be too hard to build global mapping files from the Uniprot site if need be.

Thanks again for the help! I'm very grateful for your quick responses and this amazing resource.

[2020-01-23 13:24] #160 closed

[2020-02-12 16:16] lsayaved opened #161 "Some data sets are missing"
Hi!,
Some datasets are not available even though there are MAGS assembled from these data sets. Specifically, I am referring to: HeQ_2017 and WenC_2017. Were these data sets renames?
Thanks!

[2020-02-12 16:44] edoardopasolli commented on #161
Hi,

Are you referring to the MAGs present in the Cell paper? "Extensive Unexplored Human Microbiome Diversity Revealed by Over 150,000 Genomes from Metagenomes Spanning Age, Geography, and Lifestyle"

We didn't find the complete metadata information for HeQ_2017 and WenC_2017, so these two datasets are currently not included in curatedMetagenomicData.
But I can tell you that all the samples are f

[2020-02-12 16:44] #161 closed

[2020-03-10 15:51] lwaldron opened #162 "`curatedMetagenomicData("*metaphlan*", dryrun = FALSE)` errors"
`curatedMetagenomicData("*metaphlan*", dryrun = FALSE)` errors at:

[code]

And `curatedMetagenomicData("WenC_2017.metaphlan_bugs_list.stool", dryrun = FALSE)` returns a strange error:

[code]

(note that the first four of these substitutions are identical). Found in bioc-release, with clear cache.

[code]

[2020-03-10 20:30] schifferl commented on #162
Strange indeed, I will take a look at this and report back.

[2020-03-12 22:19] schifferl commented on #162
It's a simple fix, `WenC_2017.metaphlan_bugs_list.stool` just needs to be added to the exclusion regex in the `curatedMetagenomicData()` function – I will get it done tomorrow and push to BioC.

[2020-03-13 09:01] lwaldron commented on #162
It should exclude all the `WenC_2017` data types, not just metaphlan_bugs.

[2020-03-14 01:28] schifferl commented on #162
Fixed by e6c1dd7 and 80ca0c9, both have been pushed to release and devel, respectively.

[2020-03-14 01:28] #162 closed

[2020-04-23 11:59] fconstancias commented on #155
any update? Thanks for your help

[2020-04-24 21:06] lwaldron commented on #155
Sorry your commen fell off our radar @fconstancias. Those were produced by the run_markers2.py file at https://github.com/waldronlab/curatedMetagenomicDataHighLoad/tree/master/docker/curatedMetagenomics. However we're completely reworking the pipeline while upgrading to humann3 and metaphlan3 - one step of that that's ready already is the Docker container in that directory with those and sratoolki

[2020-04-25 13:11] fconstancias commented on #155
Thanks a lot for the update @lwaldron. Can't wait to process my data with metaphlan3/humann3/curatedMetagenomicData !

[2020-04-26 08:53] fbeghini commented on #155
HI @fconstancias , both the run_markers2.py and the .sh script are updated and MetaPhlAn 3 capable!

[2020-04-26 14:46] lwaldron commented on #155
Where are these updates @fbeghini?

[2020-04-26 15:47] fbeghini commented on #155
Sorry, forgot to push the commits, now are available

[2020-04-26 20:59] lwaldron commented on #155
Thanks @fbeghini! @fconstancias, note the `.sh` script still isn't ready for use as-is but we're working on it (https://github.com/waldronlab/curatedMetagenomicDataHighLoad/issues/15)

[2020-04-27 18:11] fconstancias commented on #155
@lwaldron good to know thanks. @fbeghini, any idea when you guys plan to released humann3?

[2020-04-28 08:42] fbeghini commented on #155
@fconstancias An alpha version of 3.0 is available [here](https://github.com/biobakery/humann/blob/3.0.0-alpha-rename) and also on pypi (pip install human) and biobakery conda channel (conda install -c biobakery human)

[2020-04-28 10:11] lwaldron commented on #155
@fconstancias FYI I've made a Docker image with humann3.0.0-alpha and metaphlan3, along with SRA toolkit ([waldronlab/curatedmetagenomics](https://hub.docker.com/repository/docker/waldronlab/curatedmetagenomics)). You could use Bulker.io following [these instructions](https://github.com/waldronlab/bioconductor/wiki/Running-Bioconductor-in-Docker-using-Bulker) if you wanted to abstract away the Doc

[2020-06-03 13:45] lwaldron commented on #159
Confirmed this bug is still active.

[2020-06-03 15:46] lwaldron opened #163 "undelete inst/commandline/curatedMetagenomicData"
This is part of curatedMetagenomicData, not the pipeline. Deleted at commit 7a69203d76c2ee59d403333359ee5bfc4248bdb8

[2020-06-03 15:50] #163 closed

[2020-06-08 15:42] solna86 opened #164 "Document assemblies used"
Thanks for this package. A curated & standardized resource is tremendously helpful.

Excuse my ignorance, but I couldn't find any pointer that links to the assembly you are using to quantify all datasets. As far as I understand, you use MetaPhlAn 2.0 (or already transitioned to 3.0?). By looking into MetaPhlAn 2.0 docs, and the source of curatedMetagenomicData I couldn't find that information eith

[2020-06-08 16:09] edoardopasolli commented on #164
Thanks for appreciating our resource!

Yes current profiles were generated with MetaPhlAn 2.0 (we will transition to 3.0 soon).
Please find attached the taxa that were used in MetaPhlAn 2.0, the last code is the NCBI assembly ID
[all.tax.txt](https://github.com/waldronlab/curatedMetagenomicData/files/4747155/all.tax.txt)

[2020-06-08 19:14] schifferl commented on #159
Closed by 7489877 (in devel) and 0e7bbc8 (in release), both have been pushed to bioc. A `family_member` column should be added to the template.

[2020-06-08 19:14] #159 closed

[2020-06-11 14:23] solna86 commented on #164
Thanks for the quick response.

I am closing the issue, as this answered my question.

It would be great to get everything updated to MetaPhlAn 3.0 and perhaps a newer assembly such as the excellent one from your Cell paper:

http://segatalab.cibio.unitn.it/data/Pasolli_et_al.html

[2020-06-11 14:23] #164 closed

[2020-08-20 16:52] charlottecc commented on #155
Hi,
I'm quite new to metagnomics and R, but I was wondering if you could offer me some advice.
After seeing the metaphlantophyloseq function which I think uses this package. I have converted my metaphlan3 relative abundance output into phyloseq objects with the hope of inputting these into Deseq2. Is it right to have done this because the metaphlan output is relative abundance and not raw counts?

[2020-10-05 21:51] ruairirobertson opened #165 "MetaPhlan3 and HUMAnN3"
Hi there!

Thanks for an excellent package! I am wondering if there are plans to update the curatedMetagenomicData to include output from the recent versions 3 of MetaPhlan and HUMAnN? It would be great to have this updated output!

Thanks!

[2020-10-05 21:53] lwaldron commented on #165
It is coming! We're trying to get this in time for this month's Bioconductor release, but if not it will be in devel not long after. We'll post an update here.

[2020-10-05 22:00] ruairirobertson commented on #165
Thanks for your quick reply! Looking forward to using the next release. It will be great to use the new HMP data from the TEDDY study etc, I see they are on your list of datasets to include!

[2020-10-06 07:39] paolinomanghi commented on #165
Hi Ruairi,
thanks for getting in touch.
We are ready to include the HMP_2019 IBD and type-2 diabetes cohorts
(authors: Loyd-Price & Zhou). As far as I know I still haven't included the
TEDDY cohort.
Does this make sense to you?

Bests,
Paolo

On Tue, Oct 6, 2020 at 12:01 AM ruairirobertson <notifications@github.com>
wrote:

[2020-10-06 08:03] ruairirobertson commented on #165
Great, thanks! Ah yes no problem, I was referring to Stewart et al and Vatanen et al for the TEDDY cohort. Will these be added later?

[2020-10-06 08:06] paolinomanghi commented on #165
Ah ok, the Vatanen 2019 is ready too: I can work directly on the TEDDYs,
indeed!

On Tue, Oct 6, 2020 at 10:03 AM ruairirobertson <notifications@github.com>
wrote:

[2021-01-25 00:36] jboktor opened #166 "Study inclusion request"
Hello,

I'd like to request the addition of the following study on Parkinson's Disease:
Paper link: https://doi.org/10.1093/brain/awaa201
BioProject: PRJNA433459

[2021-01-25 08:21] edoardopasolli commented on #166
Thanks for your request, I added it to the list of datasets to process.
We are making a major update of the package and we are not able to add new datasets in the short time, but we'll do when possible

[2021-01-25 08:21] #166 closed

[2021-01-29 18:03] fconstancias commented on #155
Hi @charlottecc ,

You could normalize species proportion with reads counts prior running Deseq analysis or alpha-diversity analysis within phyloseq environment for instance. See Estimating Absolute Raw Count Data from [here](https://rstudio-pubs-static.s3.amazonaws.com/231941_e6841f25c018408385ecfc72200724bc.html.)

@lwaldron, were you able to update the scripts to import metphlan humman generate

[2021-03-02 15:44] lwaldron commented on #165
@cmirzayi can you list here in general the issues preventing processing the new cMD tarballs? Then you could also open specific issues as separate issues on the tracker. FYI also @jwokaty @schifferl

[2021-03-02 16:05] cmirzayi commented on #165
Sure the general issues that I am aware of are:

1. Significant memory usage during the `make_data()` step due to a `dplyr::full_join()`
2. Accommodating the 4th column in MetaPhlan3 profiles

I will open specific issues with more information for each of these.

[2021-03-02 16:13] cmirzayi opened #167 "Significant memory usage due to join_assays()"
I have attempted processing two datasets (OhJ_2014, 368.2 MB; NagySzakalD_2017, 529 MB) on both a computer (32 GB of ram) and Terra cloud environment (~110 GB of ram). On my computer, both datasets failed at the same step due to running out of available memory. This function is `join_assays()` as part of the `assay_merge()` function:

[code]

[code]

@lwaldron recommended replacing `join_assays()`

[2021-03-02 16:16] cmirzayi opened #168 "MetaPhlAn3 column inconsistencies"
Processing datasets through the `make_data()` step of the cMD pipeline currently results in warning messages that look like this:

[code]

The `make_data()` function should be updated to accept the new 4th column in MetaPhlAn3 profiles.

[2021-03-03 17:23] lwaldron commented on #167
Example using joinListofMatrices:
[code]

[2021-03-03 17:24] lwaldron commented on #165
@cmirzayi will you post your download + build code here?

[2021-03-03 17:26] lwaldron opened #169 "cMD3 taxonomy names"
Need to account for new naming in metaphlan3.  Ideally keep the NCBI IDs in rowData, but this is not critical because we can provide a map separately.

[2021-03-03 17:26] cmirzayi commented on #165
Yes it's very straight-forward.

[code]

[2021-03-03 17:42] lwaldron opened #170 "use a sparse matrix representation for stratified genefamilies_relab"
If practical - this is not critical.

[2021-03-03 17:54] lwaldron commented on #170
Add an argument to [joinListofMatrices](https://github.com/waldronlab/curatedMetagenomicData/blob/8097b8ad45adbdbd9425c8d5b4d8ea05da8f494e/R/mergeData.R#L54) function to create [output](https://github.com/waldronlab/curatedMetagenomicData/blob/8097b8ad45adbdbd9425c8d5b4d8ea05da8f494e/R/mergeData.R#L67) as a Matrix::dgTMatrix class matrix.

[2021-03-03 19:22] schifferl commented on #170
Just wanted to give an update on this, a `ExpressionSet` won't handle sparse matrices – so this would have to be coupled with an update to `SummarizedExperiment`. Will leave this alone for now.

[2021-03-08 08:27] hh1985 opened #171 "Update wiki instructions for building cMD3"
Hi

I want to construt an expression set object from our own metaphlan2 and humann2 results so that we can convert it to phyloseq with phylogenetic tree and play all the downstream analysis.  Just wonder if there's any method allowing me to do that?

Thanks,

hh1985

[2021-03-09 16:28] jwokaty opened #172 "Update ExpressionSet to (Tree)SummarizedExperiment"
Just wanted to give an update on this, a `ExpressionSet` won't handle sparse matrices – so this would have to be coupled with an update to `SummarizedExperiment`. Will leave this alone for now.

_Originally posted by @schifferl in https://github.com/waldronlab/curatedMetagenomicData/issues/170#issuecomment-789993132_

@lwaldron mentioned TreeSummarizedExperiment might be a better fit; if it is, us

[2021-03-10 18:33] smk508 opened #173 "Missing Datasets?"
Hi,

I noticed that some of the datasets which are listed on the curation page and have tsv files with metadata such as HMP_2019_t2d, HMP_2019_ibdmdb, and HallAB2017 are not accessible as far as I can tell.

If I run `ls("package:curatedMetagenomicData")` I don't see these packages listed. I also don't see them listed under `help(package="curatedMetagenomicData")`, and if I try to load these datas

[2021-03-10 20:00] edoardopasolli commented on #173
Dear Saad, in the curation page we have a more updated list of datasets. They will be added to the package as soon as we will build and release the new version

[2021-03-10 21:11] smk508 commented on #173
I see. Do you have an estimate on when the next version is planned for release?

Thanks,
Saad

[2021-03-12 08:10] lwaldron commented on #173
Yes, I expect the major update to Biobakery 3 and these new datasets to be included in the upcoming release of Bioconductor 3.13. Processing is

[2021-03-12 12:24] lwaldron commented on #169
Examples at https://storage.cloud.google.com/data-curatedmetagenomics. E.g.

* small: https://storage.googleapis.com/data-curatedmetagenomics/AsnicarF_2017.tar.gz
* big: https://storage.googleapis.com/data-curatedmetagenomics/AsnicarF_2021.tar.gz

New simplified function for reading files and creating list of matrices: https://github.com/schifferl/curatedmetagenomicdatapipeline

[2021-03-12 12:31] lwaldron commented on #171
There is now a new package that should make this easier, but it returns a list of matrices rather than an ExpressionSet: https://github.com/schifferl/curatedmetagenomicdatapipeline

This issue will include testing and documenting this.

[2021-03-12 12:32] lwaldron commented on #171
@schifferl I'm adding you just to update the documentation at https://github.com/waldronlab/curatedMetagenomicData/wiki/The-curatedMetagenomicData-pipelines#curatedmetagenomicdata-generating-pipeline when ready.

[2021-03-12 13:07] lwaldron commented on #168
I think this is a duplicate of https://github.com/waldronlab/curatedMetagenomicData/issues/169

[2021-03-12 13:07] lwaldron commented on #168
I think this is a duplicate of https://github.com/waldronlab/curatedMetagenomicData/issues/169

[2021-03-12 13:07] #168 closed

[2021-03-12 14:04] lwaldron commented on #158
@cmirzayi is this still the case?

[2021-03-12 16:08] lwaldron opened #174 "Create a GHA to update data/combined_metadata.rda"
- [ ] copy waldronlab/curatedMetagenomicDataCuration/data/combined_metadata.rda
- [ ] Commit back to package repo in data/ directory
- [ ] run on a CRON job in GHA

[2021-03-12 16:28] lwaldron commented on #172
This is a convenience function for users that will load a matrix, filter metadata from combined_metadata, and return a SummarizedExperiment.

[2021-03-12 16:37] lwaldron commented on #174
Until the combined_metadata.rda file is available in waldronlab/curatedMetagenomicDataCuration/data/combined_metadata.rda, just copy some random file to data/ to show how it is done. Can add the demo file to package root directory file .Rbuildignore so it's ignored when building curatedMetagenomicData.

[2021-03-12 17:53] lwaldron commented on #158
Not sure when this resolved without closing the issue, but it is no longer the case.

[2021-03-12 17:53] #158 closed

[2021-03-12 18:14] lwaldron commented on #174
This issue should be closed once it downloads combined_metadata.rda from waldronlab/curatedMetagenomicDataCuration. That repo now has a function to create the R object that goes into combined_metadata.rda, but it needs to be called in that repo's GHA (https://app.zenhub.com/workspace/o/waldronlab/curatedmetagenomicdatacuration/issues/44)

[2021-03-12 21:10] LiNk-NY commented on #172
@schifferl Are we expecting the data (as downloaded from EH) to come in as an `ExpressionSet` (current state) or are we reworking the pipeline to provide `matrix`?
Also should we be using the new constructor function `curatedMetagenomicData` for transitioning to `TreeSummarizedExperiment`?
If so, Lucas, you would take care of it as part of the work on the constructor function.

The helper would lo

[2021-03-12 23:05] schifferl commented on #172
We should expect the data to arrive as matrix (a `base::matrix` or a `Matrix::dgTMatrix-class` matrix) from EH. No more `ExpressionSet` objects : )

And yes, the new constructor function `curatedMetagenomicData` should be used for transitioning to `SummarizedExperiment` or `TreeSummarizedExperiment`.

The draft code and example data from earlier today is attached ([curatedMetagenomicData.zip](http

[2021-03-12 23:09] LiNk-NY commented on #172
@schifferl I think it would be good to create a branch and have the code live there until it is ready to merge to the main branch :smile:

[2021-03-13 03:38] LiNk-NY commented on #171
TreeSummarizedExperiment and mia have converter functions to and from phyloseq https://github.com/FelixErnst/mia/tree/master/R

[2021-03-16 19:10] jwokaty commented on #174
@lwaldron I want to verify that we want data/combined_metadata.rda in both curatedMetagenomicData and curatedMetagenomicDataCuration repositories. If we are only creating it in curatedMetagenomicDataCuration for curatedMetagenomicData, I can generate combined_metadata.rda via the GHA of curatedMetagenomicData so that we don't have to save it to curatedMetagenomicDataCuration.

[2021-03-16 19:40] lwaldron commented on #174
That's the case, yes it would be optimal to create it via the GHA of curatedMetagenomicData.

[2021-03-19 14:15] #174 closed

[2021-03-19 14:45] lwaldron commented on #172
See https://github.com/waldronlab/curatedMetagenomicData/tree/remodel branch.

[2021-03-19 14:48] lwaldron commented on #170
See https://github.com/waldronlab/curatedMetagenomicData/tree/remodel branch

[2021-03-19 14:49] lwaldron commented on #169
See https://github.com/waldronlab/curatedMetagenomicData/tree/remodel branch

[2021-03-19 14:51] lwaldron commented on #165
This will be the "main" issue to link several other related issues to, to be closed when curatedMetagenomicData 3 enters bioc-devel. See https://github.com/waldronlab/curatedMetagenomicData/tree/remodel branch.

[2021-03-19 14:55] lwaldron opened #176 "MetaPhlAn3 Newick tree"
Need to add the MetaPhlAn3 Newick tree to inst/extdata (e.g. https://github.com/waldronlab/curatedMetagenomicData/blob/master/inst/extdata/metaphlan2_selected.tree.reroot.nwk.bz2). Related to #165

[2021-03-19 14:55] lwaldron commented on #172
Related to #165

[2021-03-19 14:56] lwaldron commented on #170
Part of #165

[2021-03-19 14:57] lwaldron commented on #167
Part of #165, resolved eventually at https://github.com/schifferl/curatedmetagenomicdatapipeline

[2021-03-19 14:59] paolinomanghi commented on #176
Pushed mpa_v30_CHOCOPhlAn_201901_species_tree.nwk.bz2 MetaPhlAn3 Newik tree to inst/extdata/

[2021-03-19 14:59] #176 closed

[2021-03-19 15:02] lwaldron commented on #171
If the goal is just to create a phyloseq object, you could also use methods from the [phyloseq package](https://bioconductor.org/packages/phyloseq/). I think you can do what you want now using https://github.com/waldronlab/curatedMetagenomicData/wiki/The-curatedMetagenomicData-pipelines#curatedmetagenomicdata-generating-pipeline, but soon you'll have to use old versions of this repo because we are

[2021-03-19 15:05] lwaldron commented on #171
Part of #165

[2021-03-19 15:08] #155 closed

[2021-03-19 15:13] lwaldron commented on #144
@schifferl is this issue closed with https://github.com/schifferl/curatedMetagenomicDataPipeline?

[2021-03-19 15:13] #144 closed

[2021-03-19 15:16] lwaldron commented on #126
Duplicate of https://github.com/waldronlab/curatedMetagenomicDataCuration/issues/24, done.

[2021-03-19 15:16] #126 closed

[2021-03-19 15:18] lwaldron commented on #130
This would use `combined_metadata` to identify samples, then call `curatedMetagenomicData()` to create a dataset with those samples, along with their metagenomic data of a selected type (e.g. metaphlan_bugs).

[2021-03-19 15:21] lwaldron commented on #125
This now correctly links to a Google Spreadsheet.

[2021-03-19 15:21] #125 closed

[2021-03-19 15:23] lwaldron opened #177 "Update publications"
Update https://waldronlab.io/curatedMetagenomicData/publications/ to include more recent publications. Edit https://github.com/waldronlab/curatedMetagenomicData/blob/gh-pages/publications.md to update.

[2021-03-19 15:29] lwaldron commented on #123
Duplicate of https://github.com/waldronlab/curatedMetagenomicDataCuration/issues/20

[2021-03-19 15:29] #123 closed

[2021-03-19 15:30] lwaldron commented on #122
Out of scope.

[2021-03-19 15:30] #122 closed

[2021-03-19 15:39] lwaldron commented on #121
Need to decide whether to do this from curatedMetagenomicData or from APIs. The API will have the most up-to-date data, so is probably preferable. This could potentially be endpoints of the API.

[2021-03-19 15:47] lwaldron commented on #121
Currently blocked by #165. Example using current package:

[code]

[2021-03-19 15:49] lwaldron commented on #109
This will be moot with #165 because `combined_metadata` will be the only source of metadata.

[2021-03-19 15:49] #109 closed

[2021-03-19 15:50] jwokaty opened #178 "Create GHA to build package"
Create a GitHub Action to use biocthis and run

* BiocCheck::BiocCheck()
* R CMD Check

[2021-03-19 15:59] #114 closed

[2021-03-19 16:01] jwokaty commented on #178
@lwaldron Should I also remove [.travis.yml](https://github.com/waldronlab/curatedMetagenomicData/blob/master/.travis.yml) since we're no longer using Travis?

[2021-03-19 16:08] lwaldron commented on #108
This actually should not be a part of the curatedMetagenomicData package, but a check as part of the GHA creating combined_metadata.rda in issue #174 @jwokaty. If this check fails, either don't create the PR, or just have a "checks failed" badge with it.

See the [checkCuration](https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/man/checkCuration.Rd) function in curatedMetage

[2021-03-19 16:12] lwaldron commented on #72
Should be updated/closed with #165 @schifferl

[2021-03-19 16:20] lwaldron commented on #103
https://github.com/waldronlab/curatedMetagenomicData/blob/master/tests/testthat/test-curatedMetagenomicData.R will have to be updated. Leave this issue open to indicate that an updated unit test accomplishes these things. Under issue #165

[2021-03-19 16:23] lwaldron commented on #111
This would likely involve migrating existing pages or replacing them with pkgdown.

[2021-03-19 16:23] lwaldron commented on #65
Update with cMD3 #165

[2021-03-19 16:24] lwaldron commented on #60
Eventually the tree will be integrated with TreeSummarizedExperiment instead.

[2021-03-19 16:24] #60 closed

[2021-03-19 19:18] lwaldron commented on #178
yes--

Levi Waldron

Associate Professor

Department of Epidemiology and Biostatistics

CUNY Graduate School of Public Health and Health Policy

Institute for Implementation Science in Population Health

55 W 125th St, New York NY 10035

https://waldronlab.io

[2021-03-22 14:32] jwokaty opened #179 "Change combined_metadata.rda GHA to use r-devel"
Change GHA to update combined_metadata.rda to use r-devel. See https://github.com/waldronlab/curatedMetagenomicData/runs/2154047902?check_suite_focus=true#step:3:3.

[2021-03-22 15:08] lwaldron commented on #179
Agreed, good idea.

[2021-03-22 15:15] lwaldron commented on #179
Although, note that bioc-devel uses r-release for half the year (http://bioconductor.org/developers/how-to/useDevel/), so for Bioconductor packages it's better to use the Bioconductor Docker images. But this isn't, so actually I think you can use whichever R version you want / that works.

[2021-03-23 22:08] #179 closed

[2021-03-28 15:18] #108 closed

[2021-03-28 16:26] jwokaty opened #183 "Remove unnecessary library calls"
Just curious, what is data.table used for here? Is it a dependency of the `:::` function? At least for `::`, I would expect any imports or depends of those functions from another package to be imported into your namespace automatically as-needed.

_Originally posted by @lwaldron in https://github.com/waldronlab/curatedMetagenomicData/pull/182#discussion_r602891921_

[2021-03-28 16:32] #183 closed

[2021-03-30 22:47] #178 closed

[2021-04-08 17:02] sdgamboa opened #187 "Missing metadata of two samples in AsnicarF_2017"
I think some metadata are missing in the AsnicarF_2017 data set. I couldn't find the metadata of samples MV_FEI4_t2F15.tsv and MV_FEM4_t2F15.tsv.

I got the data set from this link: https://storage.googleapis.com/cmdstorage/AsnicarF_2017.tar.gz

 @paolinomanghi

[2021-04-08 17:38] paolinomanghi commented on #187
Thanks for pointing this out. You are right that there were two samples
more in Asnicar 17, I reuploaded the tarball in both the Gdrive. Right
number is 24 (even if we do have 2 profiles more we are uploading only
samples for which we know metadata). Thanks for pointing that out!

On Thu, Apr 8, 2021 at 7:03 PM Samuel David Gamboa Tuz <
***@***.***> wrote:

[2021-04-09 14:08] #170 closed

[2021-04-15 09:33] lwaldron opened #188 "incorporate Newick tree"
Some options:
1. Put it in metadata(SE)
2. Use TreeSummarizedExperiment
3. Only use it for the phyloseq conversion

See https://github.com/waldronlab/curatedMetagenomicData/blob/master/inst/legacy/mpa_v30_CHOCOPhlAn_201901_species_tree.nwk.bz2 (should be added into cMD 3 too)

[2021-04-15 09:50] lwaldron opened #189 "Make sure command-line tool still works in cMD3"
https://github.com/waldronlab/curatedMetagenomicData/blob/master/inst/commandline/curatedMetagenomicData

[2021-04-16 15:20] lwaldron opened #190 "migrate ExpressionSet2phyloseq to remodel"
See https://github.com/waldronlab/curatedMetagenomicData/blob/legacy/man/ExpressionSet2phyloseq.Rd

- [ ] Get rid of long-name function call `LomanNJ_2013.metaphlan_bugs_list.stool()`
- [x] replace `ExpressionSet2phyloseq` function (will no longer be using ExpressionSet objects)
- [x] Replace references to ExpressionSet with references to SummarizedExperiment
- [x] It's confusing to offer both `re

[2021-04-16 15:27] lwaldron opened #191 "make defunct all long-format dataset functions"
For example see https://github.com/waldronlab/curatedMetagenomicData/blob/master/man/AsnicarF_2017.Rd

- [ ] Put these all in one man/ page with \alias{}
- [ ] Put all in one R/defunct.R file, and make these functions defunct
- [ ] Only has to be done for ones in cMD version 1 (not remodel 3.0 datasets)
- [ ] In `defunct_functions` man page, make a note with a link to use the \link{curatedMetageno

[2021-04-16 15:29] lwaldron opened #192 "restore unit tests for cMD 3.0"

[2021-04-16 15:32] lwaldron opened #193 "migrate ExpressionSet2MRexperiment.R to remodel"
See https://github.com/waldronlab/curatedMetagenomicData/tree/legacy/R

- [ ] Get rid of long-name function call `LomanNJ_2013.metaphlan_bugs_list.stool()`
- [ ] replace `ExpressionSet2MRexperiment` function (will no longer be using ExpressionSet objects)
- [ ] Replace references to ExpressionSet with references to SummarizedExperiment

[2021-04-16 15:33] lwaldron opened #194 "update R/getMetaphlanTree.R"
https://github.com/waldronlab/curatedMetagenomicData/blob/legacy/R/getMetaphlanTree.R

- [ ] It now gets MetaPhlAn3 tree
- [ ] filename is changed [mpa_v30_CHOCOPhlAn_201901_species_tree.nwk.bz2](https://github.com/waldronlab/curatedMetagenomicData/blob/legacy/inst/extdata/mpa_v30_CHOCOPhlAn_201901_species_tree.nwk.bz2)

[2021-04-16 15:35] lwaldron opened #195 "update R/mergeData.R"
https://github.com/waldronlab/curatedMetagenomicData/blob/legacy/R/mergeData.R

[2021-04-16 15:37] lwaldron opened #196 "Why is combined_metadata renamed to sampleMetadata?"
I think this should remain the same as before, `combined_metadata`. @schifferl was this an intentional change?

[2021-04-16 15:44] lwaldron opened #197 "update vignette for cMD 3"

[2021-04-16 15:46] lwaldron commented on #190
Do along with issue #92

[2021-04-16 15:47] lwaldron commented on #197
duplicate of #65

[2021-04-16 15:47] #197 closed

[2021-04-16 15:49] lwaldron commented on #18
We'll no longer have dataset-specific man pages, datasets will be documented in a (possibly separate) vignette.

[2021-04-16 15:49] #18 closed

[2021-04-16 15:51] lwaldron opened #198 "Make a dataset-documentation vignette"
Complementary to the main vignette #65. Use the `combined_metadata` object and e.g. `kable` package to create a big table of the datasets and their properties (# samples, body site, diseases, age, other metadata available).

[2021-04-19 14:52] schifferl commented on #177
moving to a packagedown site without this page, closing the issue

[2021-04-19 14:52] #177 closed

[2021-04-19 14:59] lwaldron commented on #198
Added in 3d010957f1a41b9c4fc1ffbd15c981c8ee18aa9c, but could use some decoration:
- [ ] diseases
- [ ] body_site
- [ ] body_subsite
- [ ] PMID as a hyperlink to PubMed

[2021-04-19 15:02] lwaldron commented on #167
Now resolved at https://github.com/schifferl/curatedmetagenomicdatapipeline

[2021-04-19 15:02] #167 closed

[2021-04-19 15:37] lwaldron opened #199 "Restore functionality of legacy curatedMetagenomicData"
* One dataset: curatedMetagenomicDataSet()  # returns a SummarizedExperiment
* Multiple datasets: curatedMetagenomicData()  # returns a list of outputs from curatedMetagenomicDataSet

[2021-04-19 15:42] lwaldron opened #200 "restore automated PR GitHub Action"
New workflow from @schifferl for `curated_metadata` ensures only keeping metadata with data in ExperimentHub, but is lacking CRON, automated PR, badge. Desired functionality is now split across two workflows that need to be merged:
1. https://github.com/waldronlab/curatedMetagenomicData/blob/master/.github/workflows/update_combined_metadata.yaml (@jwokaty)
2. https://github.com/waldronlab/curatedM

[2021-04-19 15:48] #68 closed

[2021-04-19 15:51] lwaldron commented on #72
closed by 221a889861918ba1ef8154f7e84ac5acc388194c

[2021-04-19 15:51] #72 closed

[2021-04-19 15:55] lwaldron commented on #92
Incorporate this in issue #190

[2021-04-19 15:55] #92 closed

[2021-04-19 15:58] lwaldron commented on #121
Put these in a zip file attached to this issue, as well as the code used to produce them using cMD 3.0.

[2021-04-20 08:26] sdgamboa commented on #121
@lwaldron

Output files with curatedMetagenomicData3.0 and the mergeData function #202 :

[relative-abundance_metadata-cMD3.0.zip](https://github.com/waldronlab/curatedMetagenomicData/files/6341883/relative-abundance_metadata-cMD3.0.zip)

Code:

[code]

[2021-04-20 08:27] sdgamboa commented on #195
Function updated in pull request #202

[2021-04-20 14:51] #191 closed

[2021-04-20 15:04] jwokaty opened #203 "Restore check-bioc.yml"
Get https://github.com/waldronlab/curatedMetagenomicData/blob/46852cae6cf21324b9104e39f8cd820f970ac455/.github/workflows/check-bioc.yml to test on different OSes. It will also create a pkgdown site so we can remove https://github.com/waldronlab/curatedMetagenomicData/blob/master/.github/workflows/pkgdown.yaml.

`git restore --source 46852 -- .github/workflows/check-bioc.yml` will get the file from

[2021-04-20 19:35] lwaldron commented on #203
Sounds like a good plan to me.

[2021-04-20 19:38] lwaldron commented on #203
I would say, go for it @jwokaty

[2021-04-20 22:00] sdgamboa commented on #189
@lwaldron

Updated the command-line tool.

A few commands to help installing it in a Linux/Ubuntu distribution after the curatedMetagenomicData package has been installed in R.

[code]

[2021-04-20 22:12] sdgamboa opened #206 "Warning message with the AsnicarF_2017.relative_abundance data set when counts are set to TRUE in the cMD function."
Warning message with the AsnicarF_2017.relative_abundance data set when counts are set to TRUE in the `curatedMetagenomicData` function.

[code]

<sup>Created on 2021-04-20 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-04-21 06:53] lwaldron commented on #189
@paolinomanghi try it out!

[2021-04-21 08:18] lwaldron commented on #189
@sdgamboa I really like your new installation instructions, and your improvements to the command-line options! @paolinomanghi I hope you will be able to reproduce your analyses starting with the command-line tool.

[2021-04-21 08:52] lwaldron commented on #203
One thing to think about - the pkgdown site and `combined_metadata` object only need to be built once, whereas it's great to run `R CMD CHECK` and `BiocCheck` on all platforms. I guess it doesn't hurt to do the other things three times, but there's no benefit to it since we're only interested the produced web page or rda file.

[2021-04-21 10:49] jwokaty opened #210 "studyName or dataset_name"
When generating the curation in cMD, the first column is called studyName. If you generate it in cMDC, it's called dataset_name, which is what checkCuration expects according to [inst/extdata/template.csv](https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/extdata/template.csv). Should we rename dataset_name to studyName?

[2021-04-21 14:55] jwokaty commented on #203
@lwaldron The pkgdown site will only be generated with the Linux runner. I think it's best to keep the action to update combined_metadata separate since we'll be using a cron job with it.

[2021-04-21 16:30] sdgamboa commented on #190
@lwaldron I'm changing the name of the function and the R file to SummarizedExperiment2phyloseq(.R).

+ Should the ExrpessionSet2phyloseq.R file still be included in the package as a defunct function?

+ Is the `count = TRUE` argument still wanted in the new `SummarizedExperiment2phyloseq` function? I think this option is now used upstream in the workflow when the user calls the `curatedMetagenoni

[2021-04-21 17:31] schifferl commented on #25
This issue is very old and more of a feature request (I prefer to keep those on [Trello](https://trello.com/b/FdfktMns)), for that reason I will close it but keep it in mind for something to look into after the 3.13 release.

[2021-04-21 17:31] #25 closed

[2021-04-21 18:48] lwaldron commented on #203
got it!

[2021-04-21 20:26] cmirzayi opened #207 "Cleanup antibiotics_family column in combined metadata table"
**Is your feature request related to a problem? Please describe.**
The `antibiotics_family` column in the combined metadata table contains information on medications and treatments that are not antibiotics (antivirals, beta blockers, blood pressure meds, diabetes meds, etc.). While it's not an issue to filter these non-antibiotic treatments out myself, this could potentially cause confusion for us

[2021-04-21 22:49] schifferl commented on #189
I have moved the CLI to its own repo and made sure it works, see https://github.com/waldronlab/curatedMetagenomicDataCLI. It now has an install command that finds the executable (i.e. `/exec/curatedMetagenomicData`) and adds a symbolic link to `/usr/local/bin`.

I think keeping the CLI as its own package is the right strategy, so that we can take things like the following block out of the code and

[2021-04-21 23:12] schifferl commented on #207
This would have to be a handled in the curation repo, I am going to move it there. The variables are simply created from the files in `inst/curated`, so the `medications` variable would have to exist there first.

[2021-04-22 00:01] schifferl commented on #111
This is done now, even though the vignettes still need work. Closing

[2021-04-22 00:01] #111 closed

[2021-04-22 00:02] schifferl commented on #121
This is the territory of the CLI package (https://github.com/waldronlab/curatedMetagenomicDataCLI) now, and is already accomplished there. Closing

[2021-04-22 00:02] #121 closed

[2021-04-22 03:09] #203 closed

[2021-04-22 03:39] schifferl commented on #188
This will be solved by strategy # 2, and is at the top of the docket. I am working by Trello cards more than issues right now, so I will close the issue and close #206 because they will be resolved with the `TreeSummarizedExperiment` change. See https://trello.com/c/bU0kGfm2

[2021-04-22 03:39] #188 closed

[2021-04-22 03:40] schifferl commented on #206
Closed with #188.

[2021-04-22 03:44] schifferl commented on #169
The NCBI Taxonomy IDs were removed from the the tsv inputs, but could be mapped again. I am closing this for now because it would rather be a feature request.

[2021-04-22 03:44] #169 closed

[2021-04-22 03:47] schifferl commented on #172
This issue is being closed with #188 and for the same reasons. The change to SummarizedExperiment has happened and the method will now evolve to return a TreeSummarizedExperiment – it is represented by this Trello card (https://trello.com/c/bU0kGfm2) rather than an issue.

[2021-04-22 03:47] #172 closed

[2021-04-22 03:55] schifferl commented on #165
This issue can be closed but I hesitate to do it myself, please have a look @lwaldron and close it if you are satisfied that the data are now in ExperimentHub and are returned as SummarizedExperiment objects with the package installed from GitHub. I prefer to close it ASAP, rather than waiting for cMD v 3.0.0 to enter release.

[2021-04-22 07:08] lwaldron commented on #206
I think this issue is unrelated to #188 or its Trello card, because this has to do with matrix multiplication being performed by the `counts = TRUE` function. I would not close this issue until there is a unit test confirming that conversion to counts is being done correctly.

[2021-04-22 07:21] lwaldron commented on #165
Let's replace the "milestone" function of this issue with an the GitHub Milestone feature for what needs to be completed for the Bioconductor 3.13 release. That has has advantages of deadlines and progress tracking: https://github.com/waldronlab/curatedMetagenomicData/milestones

[2021-04-22 07:21] #165 closed

[2021-04-22 08:12] lwaldron commented on #169
Dropping the NCBI IDs is a significant loss of annotation that makes it more difficult to find taxa or do microbe set analysis, making it a high priority and an open feature request, but not critical to the cMD 3.0 release. If you prefer I'll post it as a separate feature request though.

[2021-04-22 15:02] lwaldron commented on #189
Hmmm - putting it in a Bioconda package, or other packages for command-line tools (e.g. pip, brew, ...) would be real work but would make a lot of sense, but I'm not sure of the rationale for making a second R package to provide a single command-line script for the first R package, and installing from within R.  The command-line script doesn't add any dependencies to the package (only installs add

[2021-04-22 17:34] schifferl commented on #198
The first three were added in edad5cd, but the table looks messy now (https://waldronlab.io/curatedMetagenomicData/articles/articles/available-studies.html). I would opt for just the Study, PMID, Curator, and Samples columns. As for the hyperlink, I can't seem to get around the HTML escaping that goes on inside pkgdown. I'll close this for now and the PMID as a hyperlink will become a feature requ

[2021-04-22 17:34] #198 closed

[2021-04-23 02:05] schifferl commented on #206
This is resolved by ceb7958 and the issue can be closed now, great find @sdgamboa (and persistence @lwaldron). If you're curious, the matrix is subset (now anyway) along with the meta data to avoid any size differences.

[2021-04-23 02:05] #206 closed

[2021-04-23 03:37] schifferl commented on #195
This has been implemented in 09b1b89, please see #202 for more details. The documentation will move along, but try these examples in the mean time:

[code]

[code]

Closing this issue with the new implementation.

[2021-04-23 03:37] #195 closed

[2021-04-23 03:59] schifferl commented on #199
I would like to stick with the `sapply` approach rather than implement two functions that do mostly the same thing. Yes, users would have to change their code by adding one `sapply` line and things would break; but, it would let them know about the API change.

To demonstrate, consider a cMD 1 user with this code:
[code]

To update to the current cMD 3 API this code would become:
[code]

Or for so

[2021-04-23 15:01] lwaldron commented on #190
You're right @sdgamboa - with the counts argument in the curatedMetagenomicData function, it's not needed here.

[2021-04-23 15:06] lwaldron commented on #196
This is an unnecessary API change so shouldn't be made without the usual deprecation process (although I don't think it merits that either).

[2021-04-23 15:08] lwaldron commented on #199
Alright, I don't feel as strongly about it, let's keep it as-is with documentation in the vignette (#65) for what to replace a cMD 1 call with in cMD 3.

[2021-04-23 15:08] #199 closed

[2021-04-23 15:19] lwaldron commented on #189
Add a flag to return the entire combined_metadata table:

[code]

[2021-04-23 15:21] lwaldron commented on #103
related to #192

[2021-04-23 15:42] jwokaty commented on #192
I think the only test to restore (and fix) are

* https://github.com/waldronlab/curatedMetagenomicData/blob/46852cae6cf21324b9104e39f8cd820f970ac455/tests/testthat/test-mergeData.R
* https://github.com/waldronlab/curatedMetagenomicData/blob/46852cae6cf21324b9104e39f8cd820f970ac455/tests/testthat/test-curatedMetagenomicData.R
* https://github.com/waldronlab/curatedMetagenomicData/blob/46852cae6cf21

[2021-04-23 16:06] lwaldron commented on #70
Significant analyses beyond package documentation are being moved to another repository. Closing and replacing with issue https://github.com/waldronlab/curatedMetagenomicAnalyses/issues/1 (rather than transferring, to leave record of the transition)

[2021-04-23 16:06] #70 closed

[2021-04-23 18:34] lwaldron commented on #192
Looks far as I can remember. @schifferl?

[2021-04-23 23:27] #210 closed

[2021-04-23 23:33] #200 closed

[2021-04-23 23:49] schifferl opened #213 "add phylogeneticTree object"
Create a `phylo` class object (see `?ape::read.tree()`) named `phylogeneticTree` in the package to be used in the construction of `TreeSummarizedExperiment` objects that are returned from the `curatedMetagenomicData` method.

**Implementation instructions**
- Create a file `phylogeneticTree.R` under `data-raw` and write code there
- Serialize a temp file path using `base::tempfile()` to download a

[2021-04-23 23:49] #194 closed

[2021-04-24 01:50] schifferl opened #214 "revise curatedMetagenomicData method"
Revise the `curatedMetagenomicData` method to return a `TreeSummarizedExperiment` (TSE) using the `phylogeneticTree` object created by #213 instead of a `SummarizedExperiment` (SE) for the `relative_abundance` data type.

**Implementation instructions**
- Revise lines >= 155 of `R/curatedMetagenomicData.R`
- Add an `if (x == "relative_abundance")` block to construct the TSE
- Still return an SE fo

[2021-04-24 02:13] schifferl opened #215 "add method for dbGaP metadata"
**Is your feature request related to a problem? Please describe.**
In the HMP16SData package it is possible to attach the protected subject metadata from dbGaP with a single call to the `attach_dbGaP` method. @lwaldron and others would like to see that implemented here too.

**Describe the solution you'd like**
The implementation of this feature would look very similar to the method from HMP16SDat

[2021-04-24 02:21] schifferl commented on #196
Hi @lwaldron, this change was intentional to bring us closer to Bioconductor convention (i.e. camelCase) for user facing API methods and objects. I have approved pull request #211, but if there are not objections, I think we might close it and avoid the trouble of resolving conflicts. We can add a deprecated `combined_metadata` object that is a copy of `sampleMetadata` and offer a message about sw

[2021-04-24 03:07] schifferl opened #216 "add method for sample-level returns"
**Is your feature request related to a problem? Please describe.**
Often in is desirable to return multiple studies merged together and filtered by some sample metadata criteria (e.g. `age >= 65`). A method to do this with a single method call currently does not exist in curatedMetagenomicData, but is likely (in my humble opinion) the feature most frequently implemented by users. It would allow fo

[2021-04-24 03:07] #130 closed

[2021-04-24 04:57] lwaldron commented on #216
It's a great idea. A downside of the current infrastructure is that users will still have to download an entire study to get one sample from it, but this is a minor concern for most uses. The API client (initial skeleton at https://github.com/waldronlab/metagenomicsClientR) will provide individual-sample downloads, but on the other hand that takes more computation on the user's end for a large dat

[2021-04-24 05:14] schifferl opened #217 "finish package files"
There are a number of files in the package that need attention and are essential to the coming cMD 3.0.0 release. What follows is a list of the files that need attention with a person suggested to work on them in parentheses. Please let me know where to switch names around (or remove them), if I've gotten it wrong. Below the list of files is a description of each and what needs to be done, we can

[2021-04-24 05:17] schifferl opened #218 "write vignette files"
There are a number of vignette files in the package that need attention and are essential to the coming cMD 3.0.0 release. What follows is a list of the vignette files that need attention with a person suggested to work on them in parentheses. Please let me know where to switch names around (or remove them), if I've gotten it wrong. Below the list of vignette files is a description of each and wha

[2021-04-24 05:19] schifferl opened #219 "create unit tests"
Each file under the R directory should have a matching unit test using the testthat package. What follows is a list of the R files that need unit tests with a person suggested to work on them in parentheses. Please let me know where to switch names around (or remove them), if I've gotten it wrong. Below the list of R files is a description of what the unit test might do, we can check files off the

[2021-04-24 11:46] jwokaty commented on #192
@schifferl There's overlap between this issue and #219. Would you prefer to close this issue?

[2021-04-24 19:51] lwaldron commented on #65
superceded by #218 (sorry I didn't realize this before @schifferl!)

[2021-04-24 19:51] #65 closed

[2021-04-26 13:22] schifferl commented on #192
Thank you @jwokaty, yes, I am going to close this issue and we can keep the discussion going on #219.

[2021-04-26 13:22] #192 closed

[2021-04-26 13:24] #196 closed

[2021-04-26 13:27] schifferl commented on #103
This will be covered by #219, closing.

[2021-04-26 13:27] #103 closed

[2021-04-26 13:54] schifferl commented on #171
In cMD 3.0.0 this will be covered by a vignette, rather than the wiki. There is an issue (#218) for the "Version Three" vignette, which will provide these instructions. The wiki has been disabled but I've saved the pages. If @hh1985 wants to build cMD 1.X.X style output the instructions are attached, and the "legacy" branch would need to be used. If a phyloseq object was desired in the end, I woul

[2021-04-26 13:54] #171 closed

[2021-04-26 14:34] lwaldron commented on #171
Good plan, @schifferl.

[2021-04-26 17:43] schifferl commented on #219
@sdgamboa, I just wanted to add a note to work on this one last. The package might change just a little more and I don't want us to have to redo the unit test when it happens.

[2021-04-27 19:42] jwokaty opened #221 "Remove sampleData"
Remove data/sampleData.

[2021-04-27 23:19] #221 closed

[2021-04-28 01:58] schifferl commented on #213
This was added in 33984ce by @sdgamboa (thank you 👍 !), then modified in c563e61 by @schifferl. The object now exists internally in the package and will be used in #214 to return `TreeSummarizedExperiment` objects.

[2021-04-28 01:58] #213 closed

[2021-04-28 17:57] schifferl commented on #216
Per the meeting today, I'd like you to write a draft of this @jwokaty if you're up to it. This can be implemented one of two ways.

Option one:
[code]

Option two:
[code]

Either way would be ok, the first would need a better name; and, the second just encapsulates the filtering step in the method. Perhaps the first is better because it wouldn't get so ugly with many conditions. Let me know when y

[2021-04-29 02:22] snayfach opened #223 "Installation problems"
Running into a few issues on the install I was hoping you could help with.

I successfully installed the R package from the R command line using:
`BiocManager::install("curatedMetagenomicData")`

However I'm not getting the expected output running the example from the R command line:
`library(curatedMetagenomicData)`
`curatedMetagenomicData("AsnicarF_2017")`

`curatedMetagenomicData("AsnicarF_2017

[2021-04-29 07:13] lwaldron commented on #223
Hi @snayfach,

dataset names have changed in version 3.0 (which is what's documented on this GitHub repo now, and which names you're using) compared to 1.x (which is what you have installed from Bioconductor). You can either:

1. look at the vignette on bioconductor.org for usage instructions for your current installation. You'll only have access to ~half as many samples and half as many features

[2021-04-29 12:05] schifferl opened #224 "maintain backwards compatibility"
To maintain backwards compatibility with cMD v 1.X.X, a number of files should go through the deprecation/defunct process. The files and changes are outlined below, with some changes having already occurred. To move closer to the Bioconductor standard `combined_metadata` will become `sampleMetadata`, but the object and documentation for `combined_metadata` will stay for another release with their

[2021-04-29 12:28] schifferl commented on #214
This issue is mostly complete now, but the documentation needs to be updated to reflect the changes. Also, the tree often makes the number of rows decrease significantly and this needs to be investigated.

[2021-04-29 12:30] schifferl commented on #193
This issue is replaced by #224 and will now be closed.

[2021-04-29 12:30] #193 closed

[2021-04-29 12:51] schifferl opened #225 "add method or advice for conversion to phyloseq objects"
**Is your feature request related to a problem? Please describe.**
The phyloseq package is the de facto standard for analysis of metagenomics data in R/Bioconductor and conversion to their `phyloseq` class should be provided in curatedMetagenomicData.

**Describe the solution you'd like**
If there is another well-maintained package that already has this functionality, we could use their method. I

[2021-04-29 12:51] schifferl commented on #225
If you are up for it, can you investigate @sdgamboa?

[2021-04-29 12:52] schifferl commented on #190
This issue is replaced by #225 and will now be closed.

[2021-04-29 12:52] #190 closed

[2021-04-29 14:02] sdgamboa commented on #225
@schifferl, sure, I'll investigate about it.

[2021-04-29 16:41] snayfach commented on #223
Thanks for the pointers. Unfortunately I couldn't get the development version of R easily installed (currently running 4.0.3) and the latest version of curatedMetagenomicData requires R >= 4.1. I'm thinking it makes the most sense to wait a few weeks until Bioconductor 3.13 and curatedMetagenomicData 3.0 are released.

Is there any way to download the latest sample metadata table in the meantime?

[2021-04-30 02:17] lwaldron commented on #223
Yes, the new metadata are in this repo in the file "combined_metadata.rda" under the "data/" directory. Just download that and load it into R with `load("combined_metadata.rda")`.

[2021-04-30 08:08] jwokaty opened #227 "mergeData doesn't return expected results with age"
I noticed when using `mergeData` that I didn't get what I expected for `age`.

[code]
Looking at [SAMEA104142325 in JieZ_2017](https://github.com/waldronlab/curatedMetagenomicDataCuration/blob/master/inst/curated/JieZ_2017/JieZ_2017_metadata.tsv#L351), I see that age has a decimal.

Out of curiosity, I tried

[code]
and `age` isn't available as a column for `JieZ_2017.marker_presence` but it is fo

[2021-04-30 16:16] lwaldron commented on #227
The cmd1 function gave correct results and had unit tests, and it's risky to replace it with this new untested function. This new function is now also in use to merge combined_metadata. @schifferl, the restoration of all the previous unit tests should be a really top priority. The previous merging functions could be used (without exporting) for additional unit tests.

[2021-05-01 16:10] snayfach commented on #223
Thanks!

[2021-05-01 16:10] #223 closed

[2021-05-01 18:08] snayfach commented on #223
Right now there are 20,284 samples in that table (awesome!). Are there any plans in the near-term to expand this metadata a lot, or is this about up to date with current metagenome studies?

[2021-05-03 14:40] jwokaty opened #228 "Fix update curation"
Since `data/combined_metadata` is going through a deprecation process, the GitHub action to update curation should also update `sampleMetadata`. This should also install proper dependencies and deal with any issues causing failure.

[2021-05-03 22:58] sdgamboa commented on #225
@schifferl, I found a Bioconductor package named [mia](https://bioconductor.org/packages/devel/bioc/html/mia.html) that has a function to convert from TreeSummarizedExperiment to phyloseq, although I think the package is still in devel version. I leave an example below.

[code]

<sup>Created on 2021-05-03 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-05-04 05:59] lwaldron commented on #225
Nice find! I’d say if mia is being released too, you could just document
this in the vignette, and mention it in the ExpressionSet2phyloseq defunct
error.--

Levi Waldron

Associate Professor

Department of Epidemiology and Biostatistics

CUNY Graduate School of Public Health and Health Policy

Institute for Implementation Science in Population Health

55 W 125th St, New York NY 10035

https://wal

[2021-05-05 13:49] jwokaty commented on #227
I think this is the same issue @paolinomanghi documented at https://github.com/waldronlab/curatedMetagenomicDataCLI/issues/2.

[2021-05-05 15:10] schifferl commented on #214
Double check that not too much filtering is happening per @paolinomanghi

[2021-05-05 15:16] lwaldron commented on #219
Should transport as many of the tests from https://github.com/waldronlab/curatedMetagenomicData/tree/legacy/tests/testthat as possible.

[2021-05-05 15:27] lwaldron commented on #225
Check that this works e.g. on the Asnicar TreeSummarizedExperiment.

[2021-05-05 15:38] lwaldron commented on #217
See https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5862039/. @paolinomanghi can you add any relevant text that you have to this issue.

[2021-05-05 19:19] sdgamboa commented on #225
@lwaldron , @schifferl , the `mia::makePhyloseqFromTreeSummarizedExperiment` function seems to work for cMD even without rowData. I leave an example and the definition of the method below (the output is a bit long).

[code]

<sup>Created on 2021-05-05 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-05-05 20:41] lwaldron opened #230 "Too many row(s) couldn't be matched to the tree and are/is removed."
**Describe the bug**
There are a couple orders of magnitude too many rows that cannot be matched to the phylogenetic tree. We need to get to the bottom of why hundreds of rows are unmatched.

**To Reproduce**
[code]

**Expected behavior**
There should probably not be more than 1-2 rows lost in any given dataset.

**Additional context**
* @fbeghini can you list which metaphlan3 names are not presen

[2021-05-05 21:10] #216 closed

[2021-05-05 22:08] sdgamboa commented on #230
Reply to:

@lwaldron, @schifferl, @fbeghini, Below, the list of unmatched metaphlan3 names in the AsnicarF_2021 dataset.

( Note: I had to do a couple of modifications to my curatedMetagenomicData installation in order to use reprex. First: 1) I changed the `curatedMetagenomicData`  function so the output for relative_abundance is a SummarizedExperiment instead of a TreeSummarizedExperiment, and 2

[2021-05-05 22:18] lwaldron commented on #230
It looks like everything at the genus or higher level is being dropped!

[2021-05-05 22:42] lwaldron commented on #230
Sorry this was my mistake to call this a bug - the phylogenetic tree contains only leaf nodes (species, and strains?), and apparently TreeSummarizedExperiment does not allow rows that are not part of the phylogenetic tree if there is one. I don't _think_ there is information lost, as the ancestral nodes should be reconstructable by aggregation (e.g. summing the relative abundance of all species of

[2021-05-06 09:01] paolinomanghi commented on #230
I guess is fine, but maybe is better is @fbeghini has the ultimate word.

[2021-05-06 09:19] fbeghini commented on #230
Non-species levels can be dropped without any problem. These are the species missing from the tree, but beware, I was told that some species name still have invalid characters in their name ([ or ]); this was corrected by removing these characters in the nwk file, but I think that a replacement should be done also here in the species name from the tables!

In https://github.com/waldronlab/curatedM

[2021-05-07 13:44] sdgamboa commented on #227
Closed by commit 68c96bb. See unit test [test-returnSamples](https://github.com/waldronlab/curatedMetagenomicData/blob/master/tests/testthat/test-returnSamples.R).

[2021-05-07 13:44] #227 closed

[2021-05-10 20:07] lwaldron opened #232 "metadata columns lost in colData"
**Describe the bug**
Columns of metadata are sometimes lost. It may be related to the presence of a missing value, but I don't know if that's sufficient or necessary.

**To Reproduce**
[code]

This is curatedMetagenomicData_2.99.0

**Expected behavior**

The above test should return `TRUE`.

**Additional context**

* The above can be a unit test.
* More generally, make sure that the colData of ret

[2021-05-11 03:47] schifferl commented on #230
I've addressed this by intersecting the `tip.label`s of the `phylogeneticTree` with the matrix row names, just to get it done quickly and not have glaring warnings but we can go back the other method later (just keeping `s--.+$`) if needed.

[2021-05-11 07:04] lwaldron commented on #230
Genus and higher classes are derived data that can be silently removed without loss and re-derived at any time. But the rest are real data and it doesn't seem right to silently remove them without warning or message. Relative abundance won't add up to 100% for some samples, and users will only be able to wonder why. It's not urgent, but at least a message listing the species/strains dropped would

[2021-05-11 09:11] fbeghini commented on #230
Oh, yes, that's right, my bad.

[2021-05-12 03:51] schifferl commented on #219
Closed by the addition of 41 test in 7a2a2c3.

[2021-05-12 03:51] #219 closed

[2021-05-12 15:32] jwokaty opened #233 "Fix R-CMD-check-bioc action"
Fix R-CMD-check-bioc action so that it installs 'gt' for pkgdown along with any other issues.

[2021-05-12 16:14] schifferl commented on #233
I fixed the `gt` problem [here](https://github.com/waldronlab/curatedMetagenomicData/blob/master/vignettes/articles/available-studies.Rmd) with lines 17-19 (I think).

[2021-05-12 16:34] jwokaty commented on #233
@schifferl Ok, if https://github.com/waldronlab/curatedMetagenomicData/runs/2568148926?check_suite_focus=true passes, I'll close the issue; otherwise, I'll try to fix any remaining issues with the action.

[2021-05-12 17:28] schifferl commented on #233
Looks like it passes on Ubuntu, but macOS and windows don't want to check 3.13 packages yet. I'm ok with just Ubuntu for now.

[2021-05-12 17:50] #233 closed

[2021-05-12 20:03] sdgamboa commented on #225
@lwaldron, @schifferl, I just added the phyloseq information  to the [curatedMetagenomicData.Rmd](https://github.com/waldronlab/curatedMetagenomicData/blob/master/vignettes/curatedMetagenomicData.Rmd) vignette. I tried to reproduce the figures of the phyloseq section  of the currently published [vignette](https://bioconductor.org/packages/release/data/experiment/vignettes/curatedMetagenomicData/in

[2021-05-12 20:13] sdgamboa opened #234 "NAs in assay matrix after mergeData"
**Describe the bug**
NAs in the assay matrix after applying the `mergeData` function to a list of TreeSummarizedExperiments.

**To Reproduce**
[code]

<sup>Created on 2021-05-12 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

**Expected behavior**
[code]

**Additional context**
I'm not sure if this would be considered a bug or if it's important to distinguish between missing

[2021-05-12 20:38] lwaldron commented on #234
There should be no NA values in the assay data, just zeros and positive numeric values. Good catch @sdgamboa

[2021-05-12 20:41] lwaldron commented on #234
As additional context, individual-sample profiles do not include any zero features, individual datasets merged from single samples have filled in zeros where a feature was missing from a single-sample profile (because it is zero, not unknown), and merged datasets should do the same (fill in zeros where a feature was missing).

[2021-05-13 01:26] schifferl opened #236 "cannot bump version from '1.21.0' to '2.99.0'"
65f5dd5 was pushed to the Bioconductor git server but I had to push version `1.99.0` because the remote gives and error:

[code]

I imagine this can be overridden but might require input from Bioconductor

[2021-05-13 01:28] #224 closed

[2021-05-13 01:29] #228 closed

[2021-05-14 01:04] schifferl commented on #236
Thank you Marcel!

[2021-05-14 01:04] #236 closed

[2021-05-14 01:39] schifferl commented on #234
closed by 49a67ac

[2021-05-14 01:39] #234 closed

[2021-05-19 09:46] AndreaQ7 opened #237 "Error using curatedMetagenomicData()"
Hello everyone,
I am experiencing an issue using the package when I try to donwload data from a specific study. I get two type of error message, does anyone have the solution for this type of issue?

[code]

or

[code]

thanks

[2021-05-19 11:16] lwaldron commented on #237
Hi @AndreaQ7, would you provide your sessionInfo()? There are big changes happening in R and cMD right now.

[2021-05-19 11:41] lwaldron commented on #237
What's happening is that you're using pre-May 2020 versions of R and Bioconductor, but have updated other packages from CRAN like dplyr (possibly using install.packages?), so you have a mixture of package versions that haven't been tested together and won't work. In general with actively developed packages like dplyr and curatedMetagenomicData you'll have to keep up with the R and Bioconductor rel

[2021-05-19 11:52] AndreaQ7 commented on #237
Thanks a lot for your support, tomorrow I will try it

[2021-05-19 14:53] #225 closed

[2021-05-19 14:53] #217 closed

[2021-05-20 15:09] #218 closed

[2021-05-24 20:58] schifferl commented on #237
Hi @AndreaQ7, have you been able to try curatedMetagenomicData 3.0.0? Please let us know if we should close the issue.

[2021-05-25 07:04] AndreaQ7 commented on #237
Yes thank you I have tried it right yestaerday and it works for me

[2021-05-25 13:36] schifferl commented on #237
Great! Closing the issue.

[2021-05-25 13:36] #237 closed

[2021-05-25 20:07] schifferl commented on #230
closed by ceb7eb5, try `curatedMetagenomicData("AsnicarF_20.+.relative_abundance", dryrun = FALSE)` to see the messages (@lwaldron, @fbeghini, @sdgamboa). Install the latest version from GitHub first, of course.

[2021-05-25 20:07] #230 closed

[2021-05-31 12:41] lwaldron opened #240 "returnSamples `Error: 1 specified cols can't be found.`"
**Describe the bug**
returnSamples errors in the merge phase if certain datasets are included. The "HMP_2019_ibdmdb" dataset seems to be a culprit.

**To Reproduce**

[code]

<sup>Created on 2021-05-31 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

[2021-05-31 13:01] lwaldron opened #241 "returnSamples errors when samples come from a single dataset"
**Describe the bug**
returnSamples errors if the samples requested come only from a single dataset.

**To Reproduce**
[code]

<sup>Created on 2021-05-31 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

**Expected behavior**
Should return a single (Tree)SummarizedExperiment just as when

[2021-06-04 13:41] schifferl commented on #241
Hi @lwaldron, this was the intended behavior because it's inefficient to call `mergeData` (called internally here) when you don't need to. Want me to just make this a warning instead?

[2021-06-04 15:22] lwaldron commented on #241
Inefficient for the user as in it takes some extra milliseconds on an additional function call from returnSamples? If returnSamples returns samples from one dataset plus one sample from another dataset then it's fine, but if the query is changed slightly so it returns samples only from one dataset then its current behavior is an error and proposed behavior is a warning - either way I can't see any

[2021-06-04 16:08] schifferl commented on #241
No, inefficient because `mergeData` does two `full_join` calls and a `bind_rows` call, but I changed `mergeData` to accomplish more efficient behavior. It now does this:
[code]
instead of this:
[code]
so that when a single element list is passed it is just extracted instead. It gets rid of a potential error and accomplishes the preferred behavior implicitly (no warning either). Try it and see that

[2021-06-04 16:13] schifferl commented on #240
Closed by 8518157, which accounts for this edge case where a sample might exists in `sampleMetadata` but is not present in the `assay`.

[2021-06-04 16:13] #240 closed

[2021-06-04 17:09] lwaldron commented on #241
I won't be able to test it til next week but it sounds great!

[2021-06-04 17:32] schifferl opened #242 "refactor GitHub actions"
Currently the GitHub actions do not accomplish their intended behavior and only display a red x next to each commit. They should be refactored to accomplish the following tasks:
1. knit the `README.Rmd` file into the `README.md` file
2. update the documentation with `devtools::document()` if needed
3. check the package (`devtools::check(args = c('--no-vignettes','--timings'), build_args = c('--kee

[2021-06-08 09:30] lwaldron opened #244 "mergeData and returnSamples fail when sample_id is not globally unique"
**Describe the bug**

sample_id is only guaranteed to be unique within a `study_name`, but it can be repeated across different studies. mergeData and returnSamples fail when the user tries to merge datasets containing some of the same sample_id values. It should be possible to merge these studies, for example by pre-pending study_name to the sample_id to create globally unique identifiers.

**To R

[2021-06-08 09:34] lwaldron commented on #241
Just tested, this does the trick perfectly.

[2021-06-08 09:34] #241 closed

[2021-06-08 15:30] schifferl commented on #244
I think to solve the problem for the long-term the `study_name:sample_id` strategy is pretty reasonable. This would be:
[code]
It might take me a few weeks to get to this, but I will and I'll go with the stated strategy.

[2021-06-09 09:12] lwaldron commented on #244
Thanks @schifferl. By the way, I noticed that this error occurs also if the offending duplicates are removed from the `returnSamples` input:

[code]

<sup>Created on 2021-06-09 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

[2021-06-14 13:01] lgeistlinger opened #245 "add NCBI taxonomy IDs to the rowData"
**Is your feature request related to a problem? Please describe.**
cMD 3.0 serves TreeSummarizedExperiments based on Metaphlan clade names. For integration purposes with other data resources such as microbe signatures from BugSigDB, it is typically helpful to have them mapped to NCBI taxonomy IDs.

**Describe the solution you'd like**
A convenient solution from a user's perspective would be to hav

[2021-06-14 14:23] schifferl commented on #245
Thanks @lgeistlinger! I think you are right, there is no reason to leave annotation to the user. Let's get it fixed by adding the mapping file from metaphlan – do you know where it is? Or do we need to create mapping annotations using taxize? Either way, could you take a look at `data-raw/sysdata.R` and add some lines there to read and save the file as an R object? Go ahead and to commit directly

[2021-06-14 14:44] lgeistlinger commented on #245
Yes we have metaphlan2.0 and metaphlan3.0 mapping files from Francesco, let me dig them up and take a look at `data-raw/sysdata.R`. Will report back.

[2021-06-14 15:02] fbeghini commented on #245
Here's the NCBI taxid --> taxonomy map. This consider only the NCBI taxonomy ID of the species, let me know if you want the full taxonomy with the IDs for all the ranks
[mpa_v30_taxonomy.txt](https://github.com/waldronlab/curatedMetagenomicData/files/6649324/mpa_v30_taxonomy.txt)

[2021-06-14 15:08] lgeistlinger commented on #245
Thanks Francesco, yep the full file would be helpful as I currently think that we want to mirror the existing rowData columns

[code]

storing taxonomic names for each taxonomic rank with the corresponding NCBI IDs for each taxonomic rank.

[2021-06-14 15:10] lgeistlinger commented on #245
I have this file - so if this hasn't changed I have everything I need, Francesco: https://github.com/seandavi/MungeCuratedMGS/blob/master/inst/extdata/mpa_v30_CHOCOPhlAn_201901_taxonomy.txt.gz

[2021-06-14 15:20] lwaldron commented on #245
[code]
Note though that AFAIK cMD 3.0 only has rows corresponding to species, so the other columns refer only to ancestors and not to the species in the row itself (in other words, species is never missing, it is always the terminal node).

[2021-06-14 15:29] lgeistlinger commented on #245
I think you do, having aggregation operations like those implemented by `mia::splitByRanks` in mind. You'd like to eg easily aggregate species counts to genus level, and intersect genus level NCBI IDs for the genus level with other data sources of interest (such as genus level signatures from BugSigDB using NCBI IDs).

[2021-06-14 15:39] schifferl commented on #245
Just checked checked back in here and will add a bit of clarification. Yes, only the species level clades remain in the object that is served to users. This would mean we could just do those mappings and depend on aggregate by rank to do the right thing as it moved up the taxonomy. (We should check that it modifies rowData as needed). Otherwise, we would need all levels (Class, Order, etc.) as sta

[2021-06-14 18:25] jwokaty commented on #242
@schifferl When `knit` and `devtools::document()` creates a commit, can the action create PR so that you can review it? check-bioc.yml can build the pkgdown site so I think we can remove https://github.com/waldronlab/curatedMetagenomicData/blob/master/.github/workflows/rmarkdown.yaml. It's also running `BiocCheck::BiocCheck()` and running `rcmdcheck`, but I can replace it with the code in 3 from a

[2021-06-17 11:18] kevinrue opened #246 "no resources available in curatedMetagenomicData"
I picked up a workshop being written for BioC2021, and tried to update it with the template github action workflow for workshops https://github.com/seandavi/BuildABiocWorkshop as an effort to help the author to prepare their workshop for the conference.

I run into the error
[code]
here in the workflow
https://github.com/kevinrue/EpiForBioWorkshop2021/runs/2847132850?check_suite_focus=true#step:9:

[2021-06-17 11:24] kevinrue commented on #246
OK, so digging a bit more it seems that the workshop queries a resources that's not available (anymore? right now?)

[code]

While the workshop asks for

[code]

[2021-06-17 14:49] schifferl commented on #246
That's old, please read the new documentation and ask your questions on the support site instead.

[2021-06-17 14:49] #246 closed

[2021-06-17 15:39] lwaldron commented on #246
Thank you @kevinrue for trying to help fix Chloe's workshop. I've filed an issue under the workshop at https://github.com/cmirzayi/EpiForBioWorkshop2021/issues/2.

BTW @schifferl, https://waldronlab.io/curatedMetagenomicData/articles/articles/version-three.html doesn't document the changes in naming.

[2021-06-17 18:41] lgeistlinger commented on #245
Hi. Just coming back to this. @schifferl: if I understand you correctly you just want to add

[code]

to `data-raw/sysdata.R` and take it on yourself from there. Any other input from my side needed?

Take a look at:

[code]

My idea would have been to extract rank-level mapping from and and then map the existing cMD rowData columns (storing taxonomic names at each rank for each of the rows/species

[2021-07-09 09:46] fbeghini opened #247 "MetaPhlAn profile file name is changed"

[2021-07-09 09:50] #247 closed

[2021-07-20 19:16] #242 closed

[2021-07-21 12:31] yiqijiang17 opened #250 "Different relative abundance I got from the same sample"
Hi,
I processed my data with metaphlan3 and want to compare with the samples in the curatedMetaData v3.
I want to make sure the pipeline I treated with my data is the same as you do, so I picked one sample from your database (MV_FEI2_t1Q14 in AsnicarF_2017), and treated with followed steps:

- download sra files from NCBI
- convert sra to fastq using sratools
- merge the three files (two paired fa

[2021-07-21 13:11] lwaldron commented on #250
@paolinomanghi can you answer? @yiqijiang17, FYI you can see the precise steps in the cMD3 pipeline here: https://github.com/seandavi/curatedMetagenomicsNextflow/blob/main/main.nf

[2021-07-21 15:10] #244 closed

[2021-07-23 15:58] paolinomanghi commented on #250
dear @yiqijiang17, thanks for pointing this out.
We have discovered that the MetaPhlAn3 version we built the package on erroneously discards some reads when they are downloaded from NCBI. Apparently is the same issue in which you are incurring.

This issue affected a bunch of dataset profiles that we are currently updating. I'll leave open this issue to notify you when a new version of metaphlan w

[2021-07-26 08:59] yiqijiang17 commented on #250
Thanks for your reply, paolo!
As you are going to re-run the metaphlan3, I wonder have you consider to use ```--add_viruses``` and ```--unknown_estimation``` in your curated pipeline? These two parameter are new in metaphaln3 and seems as their main new features.
[metaphlan3 What's new in version 3](https://github.com/biobakery/MetaPhlAn)

[2021-07-26 09:22] paolinomanghi commented on #250
Dear @yiqijiang17,

thanks for the suggestions! We are in fact currently working on viruses and unknown estimations. However, before the corresponding databases reach the level of accuracy of plain metaphlan 3 marker database, some work is still needed for both.

For now, we are concentrating on maintaining the platform and test if the current number of samples is useful for the community. I will

[2021-07-28 15:51] schifferl commented on #245
After some discussion at the coordination meeting, this feature will be added by providing an additional argument to the `curatedMetagenomicData` method as follows.

Current:
[code]
Future:
[code]

The rownames (long, short, and NCBI) will come from the MetaPhlAn tree [file](https://github.com/biobakery/MetaPhlAn/blob/master/metaphlan/utils/mpa_v30_CHOCOPhlAn_201901_species_tree.nwk), which will b

[2021-07-28 15:55] schifferl commented on #250
Hi @yiqijiang17, I wanted to let you know @paolinomanghi and I had some discussion about this and we should have the issue resolved shortly (by redoing the effected profiles). Although, it will take some time before the changes are propagated to ExperimentHub; but, I'll post another update before then. In any case, thank you for finding this issue and keeping us honest. ~ Lucas

[2021-07-28 16:00] lgeistlinger commented on #245
It sounds great. I'll be interested to see how `mia::splitByRanks` will work out, when choosing NCBI Ids as rownames. AFAIK that means for a species-level CMD dataset, that you will also need to have the NCBI IDs for the other ranks in the rowData (?) in order to get a genus-level dataset on NCBI IDs from `altExps`.

[2021-07-28 16:19] jwokaty opened #251 "Add short content with link on README to direct users to CMA"
Add short content with link on README to direct users to curatedMetagenomicAnalyses.

[2021-07-28 20:35] schifferl commented on #245
Hmm, this is a good point... Even with `rownames = "NCBI"` I guess the row name would come out as the `"short"` taxonomic clade (e.g. Bacteroidetes)  when running `mia:: splitByRanks` and then need to be mapped again. (The elements of the `rowData` table are always the names of clades in my scenario; only the row names change per the `rownames` argument). I would have to test this, but if it is th

[2021-07-29 04:05] yiqijiang17 commented on #250
Lucus and Paolo, really thanks for your replies and work. Keep in touch.
Yiqi

[2021-07-30 20:17] schifferl commented on #245
@lgeistlinger this feature now exist in the `rownames` branch and is ready to be tried out. The implementation is as described above. For example to get the NCBI taxonomy IDs as the rownames for the `AsnicarF_2017` `relative_abundance` data set, do the folllowing:
[code]
The other choices for the `rownames` argument are `"long"` (the default) and `"short"` (the species name). Just needs to be trie

[2021-07-31 15:56] lgeistlinger commented on #245
Maybe only my perspective, but it seems as if we are stopping halfway and end up a bit in a mixed state. I'd think it would be cool / very useful if somebody decides s/he likes to work on NCBI IDs that agglomeration options downstream would consistently return NCBI IDs too. For that to work, taxonomy rank columns in the rowData would need to be the corresponding NCBI IDs too. If the argument is us

[2021-07-31 18:12] lwaldron commented on #245
I’ll add that taxonomy names are a bit analogous to gene symbols, and NCBI
IDs are more analogous to Entrez IDs. Species names can change or be
re-assigned to other parts of the taxonomy, but IDs are much more stable.
These particular IDs are valuable _if_ they are taken from MetaPhlAn
output, because they guarantee knowing exactly what was meant by that name.
If you look up names with taxize, the

[2021-08-03 14:33] schifferl commented on #245
Just to be _extra_ clear, this is the way `rowData` is currently returned per the implementation, given `rownames` argument.

---

`rownames = "long"`
|                                 | superkingdom | ... | species                    |
|---------------------------------|--------------|-----|----------------------------|
| k__Bacteria\|p__Spirochaetes... | Bacteria     | ... | Treponema lecithinol

[2021-08-03 14:48] lgeistlinger commented on #245
Exactly. I am noting that there would be alternatives to completely stripping off the clade names from the `rowData`, and rather just add ".NCBI" columns such as "species.NCBI", "genus.NCBI". Those ".NCBI" columns could then be registered by modifying `taxonomyRanks` of the TreeSE when `rownames = NCBI` is chosen.

Fully with you on this one.

[2021-08-04 01:30] zhuzn opened #253 "cannot coerce class ‘structure("dgTMatrix", package = "Matrix")’ to a data.frame"
**Describe the bug**
sampleMetadata %>%
    dplyr::filter(country=="CHN") %>%
    returnSamples("gene_families")

**To Reproduce**
cannot coerce class ‘structure("dgTMatrix", package = "Matrix")’ to a data.frame

[2021-08-05 15:43] schifferl commented on #253
Hi @zhuzn, I've just investigated this myself and have confirmed this is a bug; thank you for reporting it. I'll work on a patch and send you an update when it's done.

[2021-08-06 09:16] lgeistlinger commented on #245
I couldn't believe that the NCBI taxonomy hasn't been wrapped in one way or another into Bioconductor annotation resources. After a bit of search, I think mapping from [GenomeInfoDbData](https://bioconductor.org/packages/GenomeInfoDbData) comes close to what we are looking for.

[code]

They only include genus and species in a somewhat simplified/incorrect way in that table (eg bacteria = genus),

[2021-08-06 21:40] schifferl commented on #251
Just a note, this would need to go in the `README.Rmd` file in the `RELEASE_3_13` branch and I will `git cherry-pick` it into the `master` branch. (This is done to make the README package links refer to the release versions of Bioconductor packages, in case you're wondering).

[2021-08-08 18:00] lwaldron commented on #245
That sounds like a great idea @lgeistlinger, having the full and correct NCBI taxonomy seems like an obvious omission and correcting it would have value for us and others. I'll post a question on bioc-devel about whether to update or add.

[2021-08-10 07:09] nsegata commented on #245
Hi all, just chiming in because while in MetaPhlAn 2 we provide in the
output only the species-level NCBI IDs, we do have all the internal IDs and
in MetaPhlAn version >2 we report them as well in the output. For MetaPhlAn
2 we can provide all the IDs. Because of the problems Ludwig was observing
in the NCBI hierarchical taxonomy, in all MetaPhlAn versions we edited the
taxonomy to derive a hierar

[2021-08-10 08:30] lwaldron commented on #245
Thanks @nsegata! I agree that for curatedMetagenomicData, this cleanup indicates we should be using a map from MetaPhlAn. Would you mind publicly posting this file along with versions indicating which versions of MetaPhlAn it should be used with?

@lgeistlinger having the full NCBI taxonomy in Bioconductor may still be useful for bugsigdb, which is full of modifiers that aren't relevant for MetaPh

[2021-08-10 11:30] nsegata commented on #245
Sure, @Francesco Beghini ***@***.***> and @Aitor Blanco
***@***.***> should have the whole taxonomic tree to
provide for MetaPhlAn 3 and >3 respectively. For MetaPhlAn 2 maybe @Paolo
Manghi ***@***.***> or @***@***.***
***@***.***> can locate it?

On Tue, Aug 10, 2021 at 10:30 AM Levi Waldron ***@***.***>
wrote:

[2021-08-10 11:43] lwaldron commented on #245
@fbeghini @paolinomanghi see above, I think your handles got munged.

[2021-08-10 14:47] #251 closed

[2021-08-10 14:53] schifferl commented on #245
Thank you all for all the comments, it's pretty clear on my end how to handle this now. If @fbeghini puts the `mpa_v30_taxonomy.txt` file into the MetaPhlAn repo, I can take it from there and get this finished.

And just to clarify on @lgeistlinger's comment about annotation resources:

Both, because I want the exact mapping from MetaPhlAn and something to check them against too.

[2021-08-10 14:59] schifferl commented on #245
Sorry, one more comment. We can keep that file, `mpa_v30_taxonomy.txt`, in our repo if we really need too. Just that @fbeghini (or someone else who knows how to update it) would have to maintain it for us.

[2021-08-10 15:17] fbeghini commented on #245
@schifferl, no problem, there should not be any updates for this release, so the IDs will not change. The file can be easily generated by loading the pkl file and inspecting the `['taxonomy']` field.

[2021-08-13 15:58] luzhang321 opened #255 "CosteaPI_2017 disease status, healthy?"
Hi :)
Recently I was using the sampleMetadata(curatedMetagenomicData 3.0.1). This metadata is really helping a lot.
1. Since it is already manually curated, can I directly use the metadata collected for my research?

2. I was confused with this dataset: CosteaPI_2017.

The paper refers to "Subspecies in the global human gut microbiome".

In their paper, they report "298 newly generated ones (Table

[2021-08-13 21:15] lwaldron commented on #255
@paolinomanghi can you check into this?

[2021-08-14 08:38] paolinomanghi commented on #255
Hi @luzhang321, thanks for getting in touch!

I'm glad the metadata help your work!

1. Yes: using the curated metadata should avoid the problems that may arise curating them by yourself. Besides, the metadata in curatedMetagenomicData have been published several times.

2. I'm sorry if some of the numbers do not match the ones in the publication. I also mean to point clearly this out in the next

[2021-08-15 19:05] luzhang321 commented on #255
Hi @paolinomanghi, thanks for your reply, it's very useful! :)

Hope it doesn't disturb you. I still have another 2 confusion.

1. dataset : FerrettiP_2018
[code]

I  compared the sample name in ena file: (https://www.ebi.ac.uk/ena/browser/view/PRJNA352475?show=reads)
"CA_C10019IS2318FE_t1M15" : in ena file it was described as infant stool, but in samplemetadata it is adult stool
##### Illumina Hi

[2021-08-16 10:25] paolinomanghi commented on #255
Hi @luzhang321,
thanks again for getting in touch.

Let' start with the Ferretti dataset: this is a dataset collected by our lab. I wasn't already here when the work was done, but I arrived just in time to add it to the cMD package: so, keeping in mind that errors are always likely and that I didn't carry out by myself all the metadata collections, here's what I did:

- I double checked the source

[2021-08-17 09:11] luzhang321 commented on #255
Hi @paolinomanghi, thank you for your reply! It's very helpful!

[2021-08-17 15:47] schifferl commented on #215
I am permanently closing this issue and stating here that the feature will _never_ be implemented because it is too complex and too far beyond the scope of curatedMetagenomicData. If it were ever to exists, it would need to be implemented in its own package and operate on the resources returned from curatedMetagenomicData.

[2021-08-17 15:47] #215 closed

[2021-08-17 16:08] lwaldron commented on #255
There is still an open issue here, until this change has been merged into `sampleMetadata`:

[2021-08-17 16:38] schifferl commented on #255
As this is a curation issue, rather than one relating to the software, I am transferring this issue to the curation repository. I've just attempted to pull in updates from the curation repo, there are none currently. If changes are ready by tomorrow morning (EST) / afternoon (CET), `sampleMetadata` will be updated automatically.

[2021-08-23 08:12] lgeistlinger commented on #245
Hi @schifferl: I agree that the metaphlan3 file from Franceso is the reference point (likely with edge cases resolved), but here is a [script](https://www.dropbox.com/s/gwaman1miz1dvv9/metaphlan3ncbi.R?dl=0) that maps metaphlan3 taxonomic clades to NCBI taxonomy IDs and returns a 3-column data.frame (txid, level, name) as per [your specification](https://github.com/waldronlab/curatedMetagenomicDat